.scrollable-card {
  max-height: 80vh;
  overflow-y: auto;
}
.scrollable-card::-webkit-scrollbar {
  width: 6px;
}
@media (max-width: 576px) {
  .item-button button {
    margin-bottom: 10px; 
    width: 100%;        
  }
  
  .item-button button.me-2 {
    margin-right: 0;    
  }
  
  .item-button {
    display: flex;
    flex-direction: column; 
    align-items: stretch;   
  }
}
