.position-fixed {
  z-index: 1080;
}

.p1 {
  width: 100%;
  max-width: 300px;
}

.bg {
  background-color: #f3f4f6;
}

.p3 {
  max-height: 400px;
  overflow-y: auto;
}

.width {
  width: auto;
}

.widtha1 {
  width: 140px;
}

.light-green {
 
  color: #0a5c0a;
}

.actions-col {
  width: 140px;
}

.business-table-container {
  background-color: #ffffff;
  border-radius: 12px;
  transition: 0.3s ease;
}

.business-table {
  border-collapse: separate !important;
  border-spacing: 0 10px;
}

.business-table thead th {
  background-color: whitesmoke;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.business-table tbody tr {
  background-color: #f9fff9;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.business-table tbody tr:hover {
  background-color: #eaffea;
  transform: scale(1.01);
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.15);
}

.business-table td,
.business-table th {
  vertical-align: middle !important;
  padding: 12px;
}

.business-logo {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}

.business-logo:hover {
  transform: scale(1.08);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.btn-outline-info i,
.btn-outline-primary i,
.btn-outline-danger i {
  font-size: 16px;
}

.table-row {
  border: 1px solid #d9f2d9;
  border-radius: 8px;
}

/* .badge {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 500;
  color: #333 !important;
} */

.table1 th,
.table1 td {
  vertical-align: middle !important;
  padding: 8px 10px;
  font-size: 14px;
}

.table1 th {
  font-weight: 600;
  background-color: #eafbea !important;
 
}



.table td a {
  font-weight: 500;
}

.modal-content {
  border-radius: 12px;
}

.form-label {
  font-size: 0.9rem;
}

h6 {
  border-bottom: 2px solid #cce3d1;
  padding-bottom: 5px;
}

input[type="file"] {
  padding: 6px;
}

.modal-footer {
  border-top: none;
}

/* edit */
.choose-btn {
  cursor: pointer;
  background: whitesmoke;
  color: #fff;
  border-radius: 12px;
}

.choose-btn:hover {
  background: #157347;
}

.choose-btn input {
  display: none;
}

/* toastr */
.custom-toast {
  min-width: 320px;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #fff !important;
  animation: slide-in 0.4s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background-image: none !important;
}

.custom-toast.success {
  background-color: #28a745 !important;
}

.custom-toast.error {
  background-color: #dc3545 !important;
  color: white !important;
}

.custom-toast.warning {
  background-color: #ffc107 !important;
  color: #212529 !important;
}

.toast-wrapper {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 9999;
}

/* view modal */
.table-success {
  background-color: #d4f8d4;
}

.scrollable-card {
  max-height: 155vh;
  overflow-y: auto;
}

.scrollable-card::-webkit-scrollbar {
  width: 6px;
}

.side-btn {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

/* .side-btn:hover {
  background-color: #e5e7eb;
} */

.active-btn {
  background-color: #d1d5db !important;
  font-weight: 600;
  transform: translateX(4px);
  border-left: 4px solid #3b8651;
  border-right: 4px solid #3b8651;
}

.table-body-scroll {
  max-height: 350px;
  overflow-y: auto;
}

.table-body-scroll table th,
.table-body-scroll table td {
  white-space: nowrap;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #dc3545;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* table scroll */
.table-container {
  max-height: 500px;
  overflow-y: auto;
}


.custom-thead th {
  white-space: nowrap;
}

.table-scroll {
  max-height: 500px;
  overflow-y: auto;
}
.sticky-header th {
  position: sticky;
  top: 0px;   /* main header height */
  z-index: 999;
  background: #d1e7dd;
}
.table-wrapper {
  width: 100%;
}
.action-btns {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.action-btns button {
  padding: 4px 8px;
  white-space: nowrap;
}