<div class="container-fluid scrollable-card">
  <div class="dashboard">
    <div class="position-fixed top-0 end-0 p-3">
      <div class="toast-wrapper">
        <div
          *ngIf="toastMessage"
          class="custom-toast toast shadow-lg"
          [ngClass]="{
            success: toastType === 'success',
            error: toastType === 'error',
            warning: toastType === 'warning',
          }"
        >
          <div class="d-flex align-items-center">
            <div class="toast-body fw-semibold">
              {{ toastMessage }}
            </div>
            <button
              type="button"
              class="btn-close btn-close-white ms-2"
              (click)="toastMessage = null"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 mt-3">
      <div
        class="col-12 d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-2"
      >
        <h4 class="fw-bold text-success mb-0">Available Business List</h4>

        <input
          type="text"
          class="form-control shadow-sm mx-md-3"
          placeholder="Search.."
          [(ngModel)]="searchTerm"
          style="max-width: 300px"
        />

        <div class="d-flex align-items-center justify-content-end mt-2 gap-2">
          <label class="fw-bold text-success mb-0">STATUS:</label>

          <div class="dropdown">
            <button
              class="btn side-btn text-dark fw-semibold dropdown-toggle bg"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              title="Status"
               style="width: 100px"
            >
              {{ selectedFilter }}
            </button>

            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" (click)="changeFilter('All')">
                  All
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="changeFilter('Active')">
                  Active
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item"
                  (click)="changeFilter('Inactive')"
                >
                  Inactive
                </button>
              </li>
            </ul>
          </div>
        </div>

        <a
          class="btn side-btn text-dark fw-semibold border-1 bg"
          routerLink="/SuperAdminView/add-business"
          routerLinkActive="active-btn"
        >
          <b><i class="bi bi-plus-circle me-1"></i></b> Add Business
        </a>
      </div>
    </div>

    <div class="row">
      <div *ngIf="business.length === 0" class="text-center mt-4">
        <div class="alert alert-info shadow-sm py-3">
          <i class="bi bi-info-circle"></i> No Business found.
        </div>
      </div>

      <div class="col-12" *ngIf="business.length > 0">
<div class="table-wrapper">
  <div class="table-scroll">
    <table class="table table-bordered table-hover align-middle">
              <thead class="table-success text-start custom-thead sticky-header table-scroll">
                <tr>
                  <th class="width light-green">S.No</th>
                  <th class="width light-green">Business Name</th>
                  <th class="width light-green">Owner</th>
                  <th class="light-green">Email</th>
                  <th class="light-green">Phone</th>
                  <th class="light-green">Business Type</th>
                  <!-- <th class="light-green">Account Status</th> -->
                  <th class="light-green">Login Status</th>
                  <th class="actions-col light-green">Actions</th>
                </tr>
              </thead>

              <tbody class="text-start">
                <tr *ngFor="let b of filteredBusiness(); let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ b.business_name }}</td>
                  <td>{{ b.owner_name }}</td>
                  <td>{{ b.email }}</td>
                  <td>{{ b.phone_number }}</td>
                  <td>{{ getBusinessTypeName(b.bt_id) }}</td>

                  <!-- <td>
                    <button
                      class="btn badge"
                      [ngClass]="{
                        'btn-success': b.status?.toLowerCase() === 'inactive',
                        'btn-danger': b.status?.toLowerCase() === 'active',
                      }"
                      (click)="toggleAccountStatus(b)"
                    >
                      {{
                        b.status?.toLowerCase() === "active"
                          ? "Disable"
                          : "Enable"
                      }}
                    </button>
                  </td> -->

                  <!-- <td>
     
      <button
        *ngIf="b.login_status !== 'Enabled'"
        class="btn btn-success btn-sm me-2"
        (click)="changeLoginStatus(b._id, 'enabled')"
      >
        Enable
      </button>

      <button
        *ngIf="b.login_status === 'Enabled'"
        class="btn btn-danger btn-sm"
        (click)="changeLoginStatus(b._id, 'disabled')"
      >
        Disable
      </button>
    </td> -->
<!-- <td>
  <span
    class="badge"
    [ngClass]="{
      'bg-success': b.login_status?.toLowerCase() === 'active',
      'bg-danger': b.login_status?.toLowerCase() === 'inactive',
      'bg-warning': b.login_status?.toLowerCase() === 'pending'
    }"
  >
    {{ b.login_status }}
  </span>
</td> -->
  <td>
                    <span
  class="badge"
  [ngClass]="
    b.status?.toLowerCase() === 'active'
      ? 'bg-success'
      : 'bg-danger'
  "
>
  {{ b.status }}
</span>
                    </td>
                  <td>
  <div class="action-btns">
    <button
      class="btn btn-sm btn-outline-info"
      (click)="openViewModal(b)"
      title="View"
    >
      <i class="bi bi-eye"></i>
    </button>

    <button
      class="btn btn-sm btn-outline-primary"
      (click)="editBusiness(b)"
      title="Edit"
    >
      <i class="bi bi-pencil-square"></i>
    </button>

    <button
      class="btn btn-sm btn-outline-danger"
      (click)="openDeleteModal(b._id)"
      title="Delete"
    >
      <i class="bi bi-trash"></i>
    </button>
  </div>
</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- VIEW MODAL -->

    <div
      class="modal fade"
      id="viewModal"
      tabindex="-1"
      aria-labelledby="viewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered w-200vh">
        <div class="modal-content border-0 shadow-sm rounded-3">
          <div class="modal-header bg-success text-white py-2 px-3">
            <h5 class="modal-title fw-semibold" id="viewModalLabel">
              Business Details
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body p-3">
            <div class="table-responsive">
              <table class="table table-bordered align-middle text-center mb-0">
                <thead class="table-success">
                  <tr>
                    <th class="light-green">Business_Name</th>
                    <th class="light-green">Owner</th>
                    <th class="light-green">Email</th>
                    <th class="light-green">Phone</th>
                    <th class="light-green">Business_Type</th>
                    <th class="light-green">Address</th>
                    <th class="light-green">Reg_No</th>
                    <th class="light-green">GST</th>
                    <th class="light-green">Status</th>
                    <th class="light-green">Logo</th>
                    <th class="light-green">PAN</th>
                    <th class="light-green">Aadhar</th>
                    <th class="light-green">Certificate</th>
                  </tr>
                </thead>

                <tbody *ngIf="selectedBusiness">
                  <tr>
                    <td>{{ selectedBusiness.business_name }}</td>
                    <td>{{ selectedBusiness.owner_name }}</td>
                    <td>{{ selectedBusiness.email }}</td>
                    <td>{{ selectedBusiness.phone_number }}</td>
                    <td>{{ selectedBusiness.bt_id?.business_type }}</td>

                    <td>
                      {{ selectedBusiness.address?.house_No }},
                      {{ selectedBusiness.address?.town_Name }},
                      {{ selectedBusiness.address?.mandal_Name }} -
                      {{ selectedBusiness.address?.district_Name }},
                      {{ selectedBusiness.address?.state }},
                      {{ selectedBusiness.address?.pincode }},
                    </td>

                    <td>{{ selectedBusiness.registration_number }}</td>
                    <td>{{ selectedBusiness.gst_number }}</td>
                   <td>
  <span
    class="badge"
    [ngClass]="{
      'bg-success': selectedBusiness?.status?.toLowerCase() === 'active',
      'bg-warning': selectedBusiness?.status?.toLowerCase() === 'pending',
      'bg-danger': selectedBusiness?.status?.toLowerCase() === 'inactive'
    }"
  >
    {{ selectedBusiness?.status || 'No Status' }}
  </span>
</td>
                    
                    <td>
                      <img
                        [src]="getImageUrl(selectedBusiness?.logo_image)"
                        alt="Business Logo"
                        class="img-thumbnail business-logo"
                        (click)="
                          openImageModal(
                            getImageUrl(selectedBusiness?.logo_image)
                          )
                        "
                      />
                    </td>

                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.pan_pdf)"
                        target="_blank"
                        >Pancard</a
                      >
                    </td>
                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.aadhar_pdf)"
                        target="_blank"
                        >Aadharcard</a
                      >
                    </td>
                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.certificate_pdf)"
                        target="_blank"
                        >Certificate</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer py-2">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
              data-toggle="tooltip"
              data-placement="top"
              title="Close"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit Modal-->

    <div
      class="modal fade"
      id="editBusinessModal"
      tabindex="-1"
      aria-labelledby="editBusinessModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg rounded-4">
          <div class="modal-header bg-success text-dark">
            <h5 class="modal-title fw-bold" id="editBusinessModalLabel">
              Edit Business
            </h5>
            <button
              type="button"
              class="btn-close btn-close-dark"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body bg-light">
            <form [formGroup]="BusinessForm" enctype="multipart/form-data">
              <h6 class="fw-bold text-success mb-3">Business Details</h6>
              <div class="row g-3 mb-3">
                <!--  Name -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Business Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="business_name"
                    placeholder="Enter Business Name"
                    (input)="sanitizeNameInput($event, 'business_name')"
                  />
                </div>
                <!-- Business Types -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Business Type</label>
                  <select class="form-select" formControlName="bt_id">
                    <option value="">Select Business Type</option>
                    <option
                      *ngFor="let type of businessTypes"
                      [value]="type._id"
                    >
                      {{ type.business_type }}
                    </option>
                  </select>

                  <div
                    *ngIf="
                      BusinessForm.controls['bt_id']?.touched &&
                      BusinessForm.controls['bt_id']?.invalid
                    "
                  >
                    <small
                      *ngIf="
                        BusinessForm.controls['bt_id']?.errors?.['required']
                      "
                      class="text-danger"
                    >
                      Business Type is required</small
                    >
                  </div>
                </div>
                <!--  Owner Nmae -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Owner Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="owner_name"
                    (input)="sanitizeNameInput($event, 'owner_name')"
                  />
                </div>
                <!--  Email -->
               <div class="col-md-4">
  <label class="form-label fw-semibold">Email</label>
  <input
    type="email"
    class="form-control"
    formControlName="email"
  />

  <small
    *ngIf="
      BusinessForm.controls['email']?.touched &&
      BusinessForm.controls['email']?.errors?.['required']
    "
    class="text-danger"
  >
    Email is required
  </small>

  <small
    *ngIf="
      BusinessForm.controls['email']?.touched &&
      BusinessForm.controls['email']?.errors?.['email']
    "
    class="text-danger"
  >
    Enter valid email address
  </small>
</div>
                <!-- Phone number -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="phone_number"
                    maxlength="10"
                    inputmode="numeric"
                    pattern="[0-9]{10}"
                    onkeypress="
                      return event.charCode >= 48 && event.charCode <= 57;
                    "
                  />
                </div>

                <!-- Register Number -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold"
                    >Registration Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="registration_number"
                    placeholder="Enter Registration Number"
                    (input)="removeLongSpaces($event, 'registration_number')"
                  />
                </div>
                <!--  Gst Number -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">GST Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="gst_number"
                    placeholder="Enter GST Number"
                    (input)="removeLongSpaces($event, 'gst_number')"
                  />
                  <small *ngIf="isInvalid('gst_number')" class="text-danger">
                    GST Number is required
                  </small>
                </div>
                <!-- Status -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Status</label>
                  <select class="form-select" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="pending">Pending</option>
                  </select>
                </div>
              </div>
              <!--  Address -->
              <h6 class="fw-bold mt-3">Address</h6>

              <div formGroupName="address" class="row">
                <div class="col-md-4 mb-2" *ngFor="let field of addressFields">
                  <label class="form-label fw-semibold">{{
                    field.label
                  }}</label>

                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="field.name"
                    (input)="AddressInput($event, field.name)"
                  />
                </div>
              </div>
              <!-- Docments -->
              <h6 class="fw-bold text-success mb-3 mt-4">Documents</h6>
              <div class="row g-3">
                <!-- Logo -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">LOGO</label>

                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'logo_image')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.logo_image || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>
                <!--  Pan Pdf -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">PAN</label>
                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'pan_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.pan_pdf || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>
                <!-- Aadhar pdf -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Aadhar</label>
                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'aadhar_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.aadhar_pdf || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>
                <!--  Certificate Pdf -->
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Certificate</label>

                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'certificate_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="
                        selectedBusiness?.certificate_pdf || 'No file chosen'
                      "
                      readonly
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer bg-white">
            <button
              type="button"
              class="btn btn-secondary px-4"
              data-bs-dismiss="modal"
              data-toggle="tooltip"
              data-placement="top"
              title="Cancel"
            >
              Cancel
            </button>

            <button
              type="button"
              class="btn btn-success px-4"
              (click)="updateBusiness()"
              data-toggle="tooltip"
              data-placement="top"
              title="Update"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm Delete -->
    <div
      class="modal fade"
      id="deleteBusinessModal"
      tabindex="-1"
      aria-labelledby="deleteBusinessModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-light file-white">
            <h5 class="modal-title" id="deleteBusinessModalLabel">
              Confirm Delete
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this business
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              data-toggle="tooltip"
              data-placement="top"
              title="Cancel"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteBusiness(deleteId)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
