<h4 class="mb-2 fw-bold">Purchase Creation</h4>
<div class="card shadow-sm p-3 mb-2 small-card scrollable-card">
  <form
    [formGroup]="addPurchaseForm"
    (ngSubmit)="savePurchase()"
    enctype="multipart/form-data"
  >
    <div class="row g-3">
      <h5 class="fw-bold">Vendor Details</h5>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Vendor Name
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="vendor_name"
          placeholder="Enter Vendor Name"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Vendor Type
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="vendor_type"
          placeholder="Enter Vendor type"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Business Category
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="business_category"
          placeholder="Enter Business Category"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >GST Number
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="gst_number"
          placeholder="Enter GST Number"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >PAN Number
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="pan_number"
          placeholder=" PAN Number"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Company Reg No
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          formControlName="company_registration_number"
          placeholder="Enter Comapny Registration Number"
        />
      </div>
    </div>

    <div class="row g-3 mt-3" formGroupName="address">
      <h5 class="fw-bold">Address</h5>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Address Line 1
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Address Line 1"
          formControlName="address_line_1"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Address Line 2
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Address Line 2"
          formControlName="address_line_2"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >City
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="City"
          formControlName="city"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >State
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="State"
          formControlName="state"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Country
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Country"
          formControlName="country"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Pincode
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Pincode"
          formControlName="pincode"
        />
      </div>
    </div>

    <div class="row g-3 mt-3" formGroupName="contact">
      <h5 class="fw-bold">Contact</h5>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Contact Person Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Contact Person"
          formControlName="contact_person_name"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Email
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Mobile Number
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Mobile"
          formControlName="mobile_number"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Alternate Mobile Number
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          type="number"
          class="form-control"
          placeholder="Alternate Mobile"
          formControlName="alternate_mobile_number"
        />
      </div>
    </div>

    <div class="row g-4 item-form mt-3">
      <h5 class="fw-bold">Item Details</h5>
      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Item Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="item_name"
          placeholder="Enter item name"
          (input)="onInputAlphabetsOnly($event)"
        />
        <small *ngIf="isInvalid('item_name')" class="text-danger">
          Item Name is required and must be at least 3 letters
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Item Code
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="item_code"
          placeholder="Enter item code"
          (input)="onInputNoSpaces($event)"
        />
        <small *ngIf="isInvalid('item_code')" class="text-danger">
          Item code is required and must be at least 3 letters
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Units
          <span class="text-danger">*</span>
        </label>
        <select class="form-select" formControlName="unit_id">
          <option Value="">Select Units</option>
          <option *ngFor="let unit of units" [ngValue]="unit._id">
            {{ unit.units_name }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Price
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="selling_price"
          placeholder="Enter selling price"
          (input)="onInputNumbersOnly($event)"
        />
        <small *ngIf="isInvalid('selling_price')" class="text-danger">
          Selling price is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Purchase price
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="purchase_price"
          placeholder="Purchase price"
          (input)="onInputNumbersOnly($event)"
        />
        <small *ngIf="isInvalid('purchase_price')" class="text-danger">
          Purchase price is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Tax
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="tax_rate"
          placeholder="Tax rate"
          (input)="onInputNumbersAndSpecial($event)"
        />

        <small *ngIf="isInvalid('tax_rate')" class="text-danger">
          Tax rate is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Stock
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="stock_quantity"
          placeholder="No.of Quantities"
          (input)="onInputNumbersOnly($event)"
        />
        <small *ngIf="isInvalid('stock_quantity')" class="text-danger">
          Stock is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Brand Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="brand_name"
          placeholder="Enter Brand name"
          (input)="onInputAlphabetsOnly($event)"
        />
        <small *ngIf="isInvalid('brand_name')" class="text-danger">
          Brand name is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Discount
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="discount"
          placeholder="Enter discount"
          (input)="onInputNumbersAndSpecial($event)"
        />
        <small *ngIf="isInvalid('discount')" class="text-danger">
          Discount is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Stock Alert
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="min_stock_alert"
          placeholder="Enter alert stock"
          (input)="onInputNumbersAndSpecial($event)"
        />
        <small *ngIf="isInvalid('min_stock_alert')" class="text-danger">
          Alert stock is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Categories
          <span class="text-danger">*</span>
        </label>
        <select class="form-select" formControlName="category_id">
          <option value="">Select Categories</option>
          <option *ngFor="let cat of categories" [value]="cat._id">
            {{ cat.categories_name }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Sub-Categories
          <span class="text-danger">*</span>
        </label>
        <select class="form-select" formControlName="sub_category_id">
          <option value="">Select Sub categories</option>
          <option *ngFor="let subcat of subCategories" [value]="subcat._id">
            {{ subcat.sub_category_name }}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Image
          <span class="text-danger">*</span>
        </label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelect($event)"
        />
        <small *ngIf="isInvalid('image')" class="text-danger">
          Image is required
        </small>
      </div>
      <div class="col-md-4">
        <label class="form-label fw-bold"
          >Description
          <span class="text-danger">*</span>
        </label>
        <textarea
          class="form-control"
          rows="1"
          placeholder="Enter your Description"
          formControlName="description"
        ></textarea>
        <small *ngIf="isInvalid('description')" class="text-danger">
          Description is required
        </small>
      </div>
    </div>

    <div class="text-end mt-4">
      <button
        class="btn btn-secondary me-2"
        type="button"
        (click)="cancelAdd()"
      >
        Cancel
      </button>
      <button class="btn btn-success" type="submit">Save Purchase</button>
    </div>
  </form>
</div>
