<div class="card shadow-sm p-3 mb-2 small-card scrollable-card">
  <h4 class="mb-2 fw-bold">Purchase Creation</h4>

  <form
    [formGroup]="addPurchaseForm"
    (ngSubmit)="saveItems()"
    enctype="multipart/form-data"
  >
    <div class="row g-4 item-form">
      <div class="col-md-4">
        <label class="form-label fw-bold">Item Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="item_name"
          placeholder="Enter item name"
          (input)="onInputAlphabetsOnly($event)"
        />
        <small *ngIf="isInvalid('item_name')" class="text-danger">
          Item Name is required and must be at least 3 letters
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold">Item Code</label>
        <input
          type="text"
          class="form-control"
          formControlName="item_code"
          placeholder="Enter item code"
          (input)="onInputNoSpaces($event)"
        />
        <small *ngIf="isInvalid('item_code')" class="text-danger">
          Item code is required and must be at least 3 letters
        </small>
      </div>

      <!-- <div class="col-md-4">
        <label class="form-label fw-bold">Units</label>
        <select class="form-select" formControlName="unit_id">
          <option Value="">Select Units</option>
          <option *ngFor="let unit of units" [ngValue]="unit._id">
            {{ unit.units_name }}
          </option>
        </select>
      </div> -->

      <div class="col-md-4">
        <label class="form-label fw-bold">Purchase price</label>
        <input
          type="text"
          class="form-control"
          formControlName="purchase_price"
          placeholder="Purchase price"
          (input)="onInputNumbersOnly($event)"
        />
        <small *ngIf="isInvalid('purchase_price')" class="text-danger">
          Purchase price is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold">Tax</label>
        <input
          type="text"
          class="form-control"
          formControlName="tax_rate"
          placeholder="Tax rate"
          (input)="onInputNumbersAndSpecial($event)"
        />

        <small *ngIf="isInvalid('tax_rate')" class="text-danger">
          Tax rate is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold">Stock</label>
        <input
          type="text"
          class="form-control"
          formControlName="stock_quantity"
          placeholder="No.of Quantities"
          (input)="onInputNumbersOnly($event)"
        />
        <small *ngIf="isInvalid('stock_quantity')" class="text-danger">
          Stock is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold">Brand Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="brand_name"
          placeholder="Enter Brand name"
          (input)="onInputAlphabetsOnly($event)"
        />
        <small *ngIf="isInvalid('brand_name')" class="text-danger">
          Brand name is required
        </small>
      </div>
      <div formGroupName="address" class="row">
        <div class="col-md-4 mb-4" *ngFor="let field of addressFields">
          <label class="form-label fw-semibold" style="font-size: medium">
            {{ field.label }}<span class="text-danger">*</span>
          </label>

          <input
            type="text"
            class="form-control"
            [formControlName]="field.name"
            placeholder="Enter {{ field.label }}"
            style="height: 45px"
            (input)="onInputNoSpaces($event)"
          />

          <div
            class="text-danger small mt-1"
            *ngIf="
              addPurchaseForm.get('address.' + field.name)?.touched &&
              addPurchaseForm.get('address.' + field.name)?.invalid
            "
          >
            <div
              *ngIf="
                addPurchaseForm
                  .get('address.' + field.name)
                  ?.hasError('required')
              "
            >
              {{ field.label }} is required.
            </div>

            <div
              *ngIf="
                addPurchaseForm
                  .get('address.' + field.name)
                  ?.hasError('minlength')
              "
            >
              {{ field.label }} must be at least 3 characters.
            </div>

            <div
              *ngIf="
                (field.name === 'address_line_1' ||
                  field.name === 'address_line_2' ||
                  field.name === 'city' ||
                  field.name === 'state' ||
                  field.name === 'country') &&
                addPurchaseForm
                  .get('address.' + field.name)
                  ?.hasError('pattern')
              "
            >
              Only alphabets are allowed.
            </div>

            <div
              *ngIf="
                field.name === 'pincode' &&
                addPurchaseForm
                  .get('address.' + field.name)
                  ?.hasError('pattern')
              "
            >
              Only numbers are allowed.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-bold">Image</label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelect($event)"
        />
        <small *ngIf="isInvalid('image')" class="text-danger">
          Image is required
        </small>
      </div>
    </div>

    <div class="text-end mt-4 item-button">
      <button
        type="button"
        class="btn btn-secondary me-2 px-4"
        (click)="cancelAdd()"
      >
        <i class="bi bi-x-circle me-1"></i> Cancel
      </button>

      <button type="submit" class="btn btn-success px-4">
        <i class="bi bi-save me-1"></i>
        {{ selectedBusiness ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
