<!-- Add User Button -->
<button
  class="btn btn-success  mb-2"
  data-bs-toggle="modal"
  data-bs-target="#userModal"
  (click)="openAddModal()"
>
  Add User
</button>

<div class="dashboard">
  <h2 class="title mb-4 p-3 text-center">List of Users</h2>
  <div class="row">
    <!-- Users Table -->
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th>SL.No</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ u.user_name }}</td>
          <td>{{ u.user_email }}</td>
          <td>{{ u.phone_number }}</td>
          <td>{{ u.status }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm me-1"
              (click)="edit(u)"
              data-bs-toggle="modal"
              data-bs-target="#userModal"
            >
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(u._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- User Modal -->
<div
  class="modal fade"
  id="userModal"
  tabindex="-1"
  aria-labelledby="userModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <form [formGroup]="usersForm" (ngSubmit)="createOrUpdateUser()">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">{{ title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="resetForm()"
          ></button>
        </div>

        <div class="modal-body">
         <div class="row g-3">
          <div class="col-md-6 mb-2">
            <label class="form-label">User Name</label>
            <input
              type="text"
              formControlName="user_name"
              class="form-control"
              placeholder="Enter user name"
            />
          </div>

        
          <div class="col-md-6 mb-2">
            <label class="form-label">Email</label>
            <input
              type="email"
              formControlName="user_email"
              class="form-control"
              placeholder="Enter email"
            />
          </div>

         
          <div class="col-md-6 mb-2">
            <label class="form-label">Phone Number</label>
            <input
              type="text"
              formControlName="phone_number"
              class="form-control"
              placeholder="Enter phone number"
            />
          </div>

          <!-- Password -->
          <div class="col-md-6 mb-2">
            <label class="form-label">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter password"
            />
          </div>

         
          <div class="col-md-6 mb-2">
            <label class="form-label">Role</label>
            <select class="form-select" formControlName="role_id">
              <option value="">Select Role</option>
              <option *ngFor="let role of roles" [value]="role._id">
                {{ role.role_name }}
              </option>
            </select>
          </div>

         
          <div class="col-md-6 mb-2">
            <label class="form-label">Upload Image</label>
            <input
              type="file"
              class="form-control"
              
            />
          </div>
          <div class="col-md-6 mb-2">
            <label class="form-label">ID Proof</label>
            <input
              type="file"
              class="form-control"
              
            />
          </div>
         </div>
        </div>

        <!-- ✅ Footer Buttons -->
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="usersForm.invalid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="resetForm()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
