<div class="card shadow-sm p-3 mb-4 border-0 small-card">
  <h5 class="text-success fw-bold mb-3">
    <i class="bi bi-list-check"></i>
    {{ selectedBusiness ? "Update Items" : "Add Items" }}
  </h5>

  <form
    [formGroup]="addItemsForm"
    (ngSubmit)="saveBusiness()"
    enctype="multipart/form-data"
  >
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label fw-semibold">Item Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="item_name"
          placeholder="Enter item name"
        />
        <small *ngIf="isInvalid('item_name')" class="text-danger">
          Item Name is required and must be at least 3 letters
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Item Code</label>
        <input
          type="text"
          class="form-control"
          formControlName="item_code"
          placeholder="Enter item code"
        />
        <small *ngIf="isInvalid('item_code')" class="text-danger">
          Item code is required and must be at least 3 letters
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label">Units</label>
        <select class="form-select" formControlName="unit_id">
          <option [ngValue]="null">Select Units</option>
          <option *ngFor="let unit of units" [ngValue]="unit._id">
            {{ unit.units_name }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Price</label>
        <input
          type="text"
          class="form-control"
          formControlName="selling_price"
          placeholder="Enter selling price"
        />
        <small *ngIf="isInvalid('selling_price')" class="text-danger">
          Selling price is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Purchase price</label>
        <input
          type="text"
          class="form-control"
          formControlName="purchase_price"
          placeholder="Purchase price"
        />
        <small *ngIf="isInvalid('purchase_price')" class="text-danger">
          Purchase price is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Tax</label>
        <input
          type="text"
          class="form-control"
          formControlName="tax_rate"
          placeholder="Tax rate"
        />
        <small *ngIf="isInvalid('tax_rate')" class="text-danger">
          Tax rate is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Stock</label>
        <input
          type="text"
          class="form-control"
          formControlName="stock_quantity"
          placeholder="No.of Quantitys"
        />
        <small *ngIf="isInvalid('stock_quantity')" class="text-danger">
          Stock is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Description</label>
        <input
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Enter description"
        />
        <small *ngIf="isInvalid('description')" class="text-danger">
          Description is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Brand Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="brand_name"
          placeholder="Enter Brand name"
        />
        <small *ngIf="isInvalid('brand_name')" class="text-danger">
          Brand name is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Discount</label>
        <input
          type="text"
          class="form-control"
          formControlName="discount"
          placeholder="Enter discount"
        />
        <small *ngIf="isInvalid('discount')" class="text-danger">
          Discount is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Stock Alert</label>
        <input
          type="text"
          class="form-control"
          formControlName="min_stock_alert"
          placeholder="Enter alert stock"
        />
        <small *ngIf="isInvalid('min_stock_alert')" class="text-danger">
          Alert stock is required
        </small>
      </div>

      <div class="col-md-4">
        <label class="form-label">Sub-Categories</label>
        <select class="form-select" formControlName="sub_category_id">
          <option value="">Select Sub categories</option>
          <option *ngFor="let subcat of subCategories" [value]="subcat._id">
            {{ subcat.sub_category_name }}
          </option>
        </select>
      </div>

      <!-- <div class="col-md-4">
        <label class="form-label">Users</label>
        <select class="form-select" formControlName="user_id">
          <option value="">Select Users</option>
          <option *ngFor="let user of users" [value]="user._id">
            {{ user.user_name }}
          </option>
        </select>
      </div> -->

      <div class="col-md-4">
        <label class="form-label">Categories</label>
        <select class="form-select" formControlName="category_id">
          <option value="">Select Categories</option>
          <option *ngFor="let cat of categories" [value]="cat._id">
            {{ cat.categories_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="text-end mt-4">
      <button
        type="button"
        class="btn btn-secondary me-2 px-4"
        (click)="cancelAdd()"
      >
        <i class="bi bi-x-circle me-1"></i> Cancel
      </button>

      <button type="submit" class="btn btn-success px-4">
        <i class="bi bi-save me-1"></i>
        {{ selectedBusiness ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
