   <div class="text-end p-4">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#businessModal">
  Add Business
</button>
</div>
      <div class="dashboard">
        <h2 class="title mb-4 p-3 text-center bg-light shadow rounded">list of Business</h2>
       

<div class="row">
      <table class="table table-bordered table-stribed  shadow-sm">
            <thead class="table-success text-center">
                <tr>
                <th>Sl.no</th>
                <th>Business Name</th>
                <th>Owner</th>
                 <th>Phone Number </th>
                 <th>Business Type</th>
                 <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of business;  let i=index">
                    <td>{{i+1}}</td>
                    <td>{{b.business_name}}</td>
                    <td>{{b.owner_name}}</td>
                    <td>{{b.phone_number}}</td>
                    <td>{{b.business_type}}</td>
                    <td>
                <button
                  class="btn btn-primary btn-sm me-2"
                  (click)="openBusinessModal(business)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="openDeleteModal(b._id)"
                >
                  Delete
                </button>
              </td>

                </tr>
            </tbody>
          </table>
        </div></div>

<div class="modal fade" id="businessModal" tabindex="-1" aria-labelledby="businessModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="BusinesForm" (ngSubmit)="addbusiness()">
        <div class="modal-header">
          <h5 class="modal-title" id="businessModalLabel"> Add Business </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Business Name</label>
            <input type="text" formControlName="business_name" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Owner Name</label>
            <input type="text" formControlName="owner_name" class="form-control"  required>
          </div>
          
           <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" formControlName="phone_number" class="form-control"  required>
          </div>
           <div class="mb-3">
            <label class="form-label">Business Type</label>
            <input type="text" formControlName="business_type" class="form-control"  required>
           </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="BusinesForm.invalid" data-bs-dismiss="modal">Save</button>
        </div>
    </div></form>
    </div>
  </div>
</div>

<div class="modal fade" id="editBusinessModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBusinessModalLabel">Edit Business</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="BusinesForm">
          <div class="mb-3">
            <label>Business Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="business_name"
            />
          </div>
          <div class="mb-3">
            <label>Owner Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="owner_name"
            />
          </div>
          <div class="mb-3">
            <label>Phone Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone_number"
            />
          </div>
           <div class="mb-3">
            <label>Business Type</label>
            <input
              type="text"
              class="form-control"
              formControlName="business_type"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="updateBusiness()"
          [disabled]="!BusinesForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade"
  id="deleteBusinessModal"
  tabindex="-1"
  aria-labelledby="deleteBusinessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteBusinessModalLabel">
          Confirm Delete
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this business
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteBusiness()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>


