<div class="container-fluid">
  <div class="dashboard">
    <div class="row mb-3">
      <div class="col-12 position-relative">
        <h4 class="mb-0 fw-bold text-success">Available Business List</h4>

        <input
          type="text"
          class="form-control shadow-sm position-absolute top-50 start-50 translate-middle"
          placeholder="Search by name, brand, or status..."
          [(ngModel)]="searchTerm"
          style="max-width: 300px"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive bg-white p-3 rounded-4">
          <table class="table table-hover table-bordered align-middle">
            <thead class="table-success text-center">
              <tr>
                <th style="width: 70px">Sl. No</th>
                <th>Business Name</th>
                <th>Owner</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Business Type</th>
                <th>Status</th>
                <th style="width: 140px">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let b of business; let i = index"
                class="align-middle"
              >
                <td class="text-center fw-semibold">{{ i + 1 }}</td>
                <td>{{ b.business_name }}</td>
                <td>{{ b.owner_name }}</td>
                <td>{{ b.email }}</td>
                <td>{{ b.phone_number }}</td>
                <td>{{ b.bt_id?.business_type }}</td>

                <td>
                  <span
                    class="badge px-3 py-2"
                   
                    [ngClass]="{
                      'bg-success': b.status === 'active',
                      'bg-warning': b.status === 'pending',
                      'bg-danger': b.status === 'inactive'
                    }"
                  >
                    {{ b.status | titlecase }}

                  </span>
                </td>
                <!-- <td class="file-center">
                <img
                  [src]="getImageUrl(b.logo_image)"
                  alt="Business Logo"
                  class="img-thumbnail business-logo"
                  (click)="openImageModal(getImageUrl(b.logo_image))"
                />
              </td> -->
                <td class="file-center">
                  <button
                    class="btn btn-sm btn-outline-info me-1"
                    (click)="openViewModal(b)"
                  >
                    <i class="bi bi-eye"></i>
                  </button>

                  <button
                    class="btn btn-sm btn-outline-primary me-1"
                    (click)="editBusiness(b)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>

                  <button
                    class="btn btn-sm btn-outline-danger"
                    (click)="openDeleteModal(b._id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>

              <!-- <tr *ngIf="filteredItems().length === 0">
                <td colspan="8" class="text-center text-muted py-3">
                  No items found.
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- VIEW MODAL -->

    <div
      class="modal fade"
      id="viewModal"
      tabindex="-1"
      aria-labelledby="viewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 shadow-sm rounded-3">
          <div class="modal-header bg-success text-white py-2 px-3">
            <h5 class="modal-title fw-semibold" id="viewModalLabel">
              Business Details
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body p-3">
            <div class="table-responsive">
              <table class="table table-bordered align-middle text-center mb-0">
                <thead class="table-success">
                  <tr>
                    <th>Business Name</th>
                    <th>Owner</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Business Type</th>
                    <th>Address</th>
                    <th>Reg No</th>
                    <th>Status</th>
                    <th>GST</th>
                    <th>Logo</th>
                    <th>PAN</th>
                    <th>Aadhar</th>
                    <th>Certificate</th>
                  </tr>
                </thead>

                <tbody *ngIf="selectedBusiness">
                  <tr>
                    <td>{{ selectedBusiness.business_name }}</td>
                    <td>{{ selectedBusiness.owner_name }}</td>
                    <td>{{ selectedBusiness.email }}</td>
                    <td>{{ selectedBusiness.phone_number }}</td>
                    <td>{{ selectedBusiness.bt_id?.business_type }}</td>
                    <td>
                      {{ selectedBusiness.address?.house_No }},
                      {{ selectedBusiness.address?.town_Name }},
                      {{ selectedBusiness.address?.mandal_Name }} -
                      {{ selectedBusiness.address?.district_Name }},
                      {{ selectedBusiness.address?.state }},
                      {{ selectedBusiness.address?.pincode }},
                    </td>

                    <td>{{ selectedBusiness.registration_number }}</td>
                    <td>
                      <span
                        class="badge"
                        [ngClass]="{
                          'bg-success': selectedBusiness.status === 'Active',
                          'bg-warning': selectedBusiness.status === 'Pending',
                          'bg-danger': selectedBusiness.status === 'Inactive'
                        }"
                      >
                        {{ selectedBusiness.status }}
                      </span>
                    </td>
                    <td>{{ selectedBusiness.gst_number }}</td>
                    <td>
                      <img
                        [src]="getImageUrl(selectedBusiness?.logo_image)"
                        alt="Business Logo"
                        class="img-thumbnail business-logo"
                        (click)="
                          openImageModal(
                            getImageUrl(selectedBusiness?.logo_image)
                          )
                        "
                      />
                    </td>
                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.pan_pdf)"
                        target="_blank"
                        >Pancard</a
                      >
                    </td>
                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.aadhar_pdf)"
                        target="_blank"
                        >Aadharcard</a
                      >
                    </td>
                    <td>
                      <a
                        [href]="getFileUrl(selectedBusiness.certificate_pdf)"
                        target="_blank"
                        >Certificate</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="modal-footer py-2">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit Modal-->

    <div
      class="modal fade"
      id="editBusinessModal"
      tabindex="-1"
      aria-labelledby="editBusinessModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg rounded-4">
          <div class="modal-header bg-light text-dark">
            <h5 class="modal-title fw-bold" id="editBusinessModalLabel">
              Edit Business
            </h5>
            <button
              type="button"
              class="btn-close btn-close-dark"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body bg-light">
            <form [formGroup]="BusinessForm" enctype="multipart/form-data">
              <h6 class="fw-bold text-success mb-3">Basic Information</h6>
              <div class="row g-3 mb-3">
                <div class="col-md-6">
                  <label class="form-label fw-semibold">Business Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="business_name"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Owner Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="owner_name"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Phone Number</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="phone_number"
                  />
                </div>
              </div>

              <h6 class="fw-bold text-success mb-3 mt-4">Business Details</h6>
              <div class="row g-3 mb-3">
                <div class="col-md-6">
                  <label class="form-label fw-semibold">Business Type</label>
                  <select class="form-select" formControlName="bt_id">
                    <option value="">Select Business Type</option>
                    <option
                      *ngFor="let type of businessTypes"
                      [value]="type.bt_id"
                    >
                      {{ type.business_type }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      BusinessForm.controls['bt_id']?.touched &&
                      BusinessForm.controls['bt_id']?.invalid
                    "
                  >
                    <small
                      *ngIf="BusinessForm.controls['bt_id']?.errors?.['required']"
                      class="text-danger"
                    >
                      Business Type is required</small
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Status</label>
                  <select class="form-select" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="pending">Pending</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Business Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold"
                    >Registration Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="registration_number"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">GST Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="gst_number"
                  />
                  <small *ngIf="isInvalid('gst_number')" class="text-danger">
                    GST Number is required
                  </small>
                </div>
              </div>

              <h6 class="fw-bold text-success mb-3 mt-4">Documents</h6>
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label fw-semibold">LOGO</label>

                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'logo_image')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.logo_image || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">PAN</label>
                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'pan_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.pan_pdf || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Aadhar</label>
                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'aadhar_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedBusiness?.aadhar_pdf || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label fw-semibold">Certificate</label>

                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'certificate_pdf')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="
                        selectedBusiness?.certificate_pdf || 'No file chosen'
                      "
                      readonly
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer bg-white">
            <button
              type="button"
              class="btn btn-secondary px-4"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>

            <button
              type="button"
              class="btn btn-success px-4"
              (click)="updateBusiness()"
              
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="deleteBusinessModal"
      tabindex="-1"
      aria-labelledby="deleteBusinessModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-light file-white">
            <h5 class="modal-title" id="deleteBusinessModalLabel">
              Confirm Delete
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this business
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteBusiness(deleteId)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
