 .scrollable-card {
  max-height: 80vh; 
  overflow-y: auto;
}
.scrollable-card::-webkit-scrollbar {
  width: 10px;
}
.table-body-scroll {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-table {
  table-layout: fixed !important;
}

.fixed-table td,
.fixed-table th {
  white-space: nowrap;
}
