<div class="bg">
<nav class="navbar navbar-expand-lg navbar-dark bg-success custom_navbar px-4 sticky-top shadow-sm">
    <nav class="navbar-brand d-flex " routerLink="/home">Billing Software</nav>
     <div class="dropdown ms-auto ">
    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"     aria-expanded="false"
 ><i class="bi bi-person bi-person-lg"></i>
</button>
<ul class="dropdown-menu dropdown-menu-end">
  <li><a class="dropdown-item" routerLink="">profile</a></li>
  <li><a class="dropdown-item" (click)="logout()">logout</a></li>
</ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
<div class="col-2 bg-light vh-100 p-3 shadow">
      <h4 class="text-center text-success mb-4">Super Admin Panel</h4>
      <ul class="list-group">
        
        <li class="list-group p-2 ">
          <a routerLink="Business"
             routerLinkActive="active"
             class="text-decoration-none d-block fw-semibold">
           Business
          </a>
        </li>

          <li class="list-group p-2">
          <a routerLink="admins"
             routerLinkActive="active"
             class="text-decoration-none d-block fw-semibold">
            Admins
          </a>
        </li>
          <li class="list-group p-2">
          <a routerLink="managers"
             routerLinkActive="active"
             class="text-decoration-none d-block fw-semibold">
            Managers
          </a>
        </li>  
        <li class="list-group p-2">
          <a routerLink="cashiers"
             routerLinkActive="active"
             class="text-decoration-none d-block fw-semibold">
            Cashiers
          </a>
        </li>
         <li class="list-group p-2">
          <a routerLink="roles"
             routerLinkActive="active"
             class="text-decoration-none d-block fw-semibold">
            Roles
          </a>
        </li>
        </ul>
    </div>
<div class="col-10 p-4"> 
    <router-outlet></router-outlet>
</div></div></div></div>
