<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
      <a class="navbar-brand text-white fw-bold" routerLink="/home">
        Billing Software
      </a>

      <div class="ms-auto d-flex align-items-center">
        <a
          class="nav-link text-white me-3"
          routerLink="emp_profile"
          style="cursor: pointer"
          title="Profile"
        >
          <i class="bi bi-person-circle" style="font-size: 28px"></i>
        </a>

        <a
          class="nav-link text-white"
          style="cursor: pointer"
          (click)="logout()"
          title="Logout"
        >
          <i class="bi bi-box-arrow-right" style="font-size: 28px"></i>
        </a>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="d-flex">
      <div class="text-start p-4">
        <button class="btn btn-success" routerLink="add-business">
          <i class="bi bi-plus-circle me-2"></i> Add Business
        </button>
      </div>
      <div class="text-start p-4">
        <button class="btn btn-success" routerLink="view-business">
          <i class="bi bi-plus-circle me-2"></i> View Business
        </button>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <router-outlet></router-outlet>
  </div>
</div>
