<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
      <a class="navbar-brand text-white fw-bold" style="cursor: pointer;" routerLink="/home">
        BUSINESS DASHBOARD
      </a>
      <button class="btn text-white d-lg-none me-3" (click)="toggleSidebar()">
        <i class="bi bi-list" style="font-size: 28px"></i>
      </button>

      <div class="ms-auto d-flex align-items-center collapse navbar-collaspe">
        <a
          class="nav-link text-white me-3"
          routerLink="businessprofile"
          style="cursor: pointer"
          title="Profile"
          routerLinkActive="active"
        >
          <i class="bi bi-person-circle" style="font-size: 28px"></i>
        </a>

        <a
          class="nav-link text-white"
          style="cursor: pointer"
          routerLink="/"
          routerLinkActive="active"
          (click)="logout()"
          title="Logout"
        >
          <i class="bi bi-box-arrow-right" style="font-size: 28px"></i>
        </a>
      </div>
    </nav>
  </div>
  <div class="row flex-grow-1 position-relative">
    <div
      class="col-sm-2 p-0 sidebar bg-light border-end"
      [ngClass]="{ 'show-sidebar': isSidebarOpen }"
    >
      <div class="card shadow-sm border-1 rounded-0 vh-100">
        <div class="card-body p-3 d-flex flex-column">
          <ul class="list-unstyled flex-grow-1">
            <li class="mb-4">
              <a
                routerLink="users"
                class="text-decoration-none fw-semibold d-block p-2 text-success"
                style="transition: 0.2s"
                onmouseover="this.style.background='#d4f8d4'"
                onmouseout="this.style.background='transparent'"
              >
                <i class="bi bi-people-fill"></i>
                USERS
              </a>
            </li>
            <li class="mb-4">
              <a
                routerLink="roles"
                class="text-decoration-none fw-semibold d-block p-2 text-success"
                style="transition: 0.2s"
                onmouseover="this.style.background='#d4f8d4'"
                onmouseout="this.style.background='transparent'"
              >
                <i class="bi bi-person-fill-gear"></i>
                ROLES
              </a>
            </li>
            <li class="mb-4">
              <a
                routerLink="categories"
                class="text-decoration-none fw-semibold d-block p-2 text-success"
                style="transition: 0.2s"
                onmouseover="this.style.background='#d4f8d4'"
                onmouseout="this.style.background='transparent'"
              >
                <i class="bi bi-grid-fill"></i>
                CATEGORIES
              </a>
            </li>

            <li class="mb-4">
              <a
                routerLink="units"
                class="text-decoration-none fw-semibold d-block p-2 text-success"
                style="transition: 0.2s"
                onmouseover="this.style.background='#d4f8d4'"
                onmouseout="this.style.background='transparent'"
              >
                <i class="bi bi-diagram-3-fill"></i>
                UNITS
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="sidebar-overlay"
      *ngIf="isSidebarOpen"
      (click)="toggleSidebar()"
    ></div>

    <div class="col-sm-10 p-3 position-relative content-area">
      <div class="position-fixed top-0 end-0 p-5" style="z-index: 1080">
        <div
          *ngIf="toastMessage"
          class="toast align-items-center text-white border-0 fade show"
          [ngClass]="{
            'bg-success': toastType === 'success',
            'bg-danger': toastType === 'error',
            'bg-warning text-dark': toastType === 'warning'
          }"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">{{ toastMessage }}</div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              (click)="toastMessage = null"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
