<div class="container-fluid">
  <div class="row">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
      
      <button class="btn text-white d-lg-none me-3" (click)="toggleSidebar()">
        <i class="bi bi-list" style="font-size: 28px"></i>
      </button>
      <a class="navbar-brand text-white fw-bold" routerLink="/home">
        BUSINESS DASHBOARD
      </a>

      <div class="ms-auto d-flex align-items-center">
        <a
          class="nav-link text-white me-3"
          routerLink="businessprofile"
          style="cursor: pointer"
          title="Profile"
          routerLinkActive="active"
        >
          <i class="bi bi-person-circle" style="font-size: 28px"></i>
        </a>
        <a
          class="nav-link text-white"
          style="cursor: pointer"
          routerLink="/"
          routerLinkActive="active"
          (click)="logout()"
          title="Logout"
        >
          <i class="bi bi-box-arrow-right" style="font-size: 28px"></i>
        </a>
      </div>
    </nav> -->

    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top bg-success px-3 w-100"
    >
      <a
        class="navbar-brand text-white fw-bold"
        style="cursor: pointer"
        routerLink="/home"
      >
        Billing Software
      </a>

      <div class="ms-auto d-flex align-items-center">
        <div class="me-3 text-white text-end">
          <div class="fw-bold">{{ loggedInBusiness?.name }}</div>
          <small>{{ loggedInBusiness?.loginTime }}</small>
        </div>

        <div class="dropdown">
          <a
            class="nav-link text-white d-flex align-items-center dropdown-toggle"
            id="profileDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="cursor: pointer"
          >
            <i class="bi bi-person-circle" style="font-size: 28px"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="businessprofile">
                <i class="bi bi-person me-2"></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="logout()"
              >
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
 

   <div class="row mt-5 pt-4">
    <div class="col-md-2 p-4 ">
      <div class="d-flex flex-column gap-3">
        <!-- <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/businessprofile"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b><i class="bi bi-list-check me-2"></i></b> 
        </button> -->
        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/users"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-people-fill me-1"></i></b> Users
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/roles"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b>  <i class="bi bi-person-fill-gear me-1"></i></b> Roles
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/categories"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b>  <i class="bi bi-grid-fill me-1"></i></b> categories
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/sub-categories"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b>  <i class="bi bi-diagram-2-fill me-1"></i> </b> Sub Categories
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/units"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b>  <i class="bi bi-bounding-box me-1"></i></b>Units
        </button>
        
      </div>
    </div>

    <div class="col-md-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
