<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
  <nav class="navbar-brand" routerLink="/home">InnoVita Bill</nav>
</nav>
<div
  class="position-fixed  top-1 end-0 p-1 "
    
>
  <div
    *ngIf="toastMessage"
    class="toast align-items-center text-white border-0 fade show shadow-lg"
    [ngClass]="{
      'bg-success': toastType === 'success',
      'bg-danger': toastType === 'error',
      'bg-warning text-dark': toastType === 'warning'
    }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body fw-semibold">
        {{ toastMessage }}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="toastMessage = null"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-center align-items-center mt-5"
>
  <div
    class="card p-4 p-md-5 mt-5"
    style="
      max-width: 400px;
      
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    "
  >
    <div class="container p-2">
      <h2 class="title mb-4 text-center fw-bold text-success">
        Business Login
      </h2>

      <form [formGroup]="businessForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label fw-semibold">Email</label>
          <div class="col-sm-11">
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter your email"
              (keypress)="blockSpaces($event)"
            />
            <div
              *ngIf="
                businessForm.controls['email']?.touched &&
                businessForm.controls['email']?.invalid
              "
            >
              <small
                *ngIf="businessForm.controls['email']?.errors?.['required']"
                class="text-danger"
                >Email is required</small
              >
              <small
                *ngIf="businessForm.controls['email']?.errors?.['email']"
                class="text-danger"
                >Invalid email format</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-3 align-items-center">
          <label for="password" class="form-label fw-semibold">Password</label>

          <div class="col-sm-11">
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Enter your password"
                (keypress)="blockSpaces($event)"
              />

              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePassword()"
              >
                <i
                  class="bi"
                  [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                ></i>
              </button>
            </div>

            <div
              *ngIf="
                businessForm.controls['password']?.touched &&
                businessForm.controls['password']?.invalid
              "
            >
             
              <small
                *ngIf="businessForm.controls['password']?.errors?.['required']"
                class="text-danger"
              >
                Password is required
              </small>

             
              <small
                *ngIf="businessForm.controls['password']?.errors?.['pattern']"
                class="text-danger"
              >
                Password must be at least 6 characters and include letters,
                numbers, and special characters
              </small>
            </div>
          </div>
        </div>

        <div class="text-start mb-4">
          <a
            routerLink="/business-Forgotpassword"
            class="text-success text-decoration-none small"
            >Forgot password?</a
          >
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-success w-100 py-2 fw-semibold"
            [disabled]="businessForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>-->

<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
  <nav class="navbar-brand" routerLink="/home">InnoVita Bill</nav>
</nav> -->
<nav
  class="navbar navbar-expand-md navbar-light custom_navbar px-4 sticky-top shadow-sm"
>
  <a class="navbar-brand d-flex align-items-center ms-5" routerLink="/home">
    <img src="assets/images/logo@@1.png" alt="Logo" class="logo me-1" />
    <span class="fw-bold mt-2" style="font-size: 18px">InnoVITA Bill</span>
  </a>
</nav>

<div class="position-fixed top-1 end-0 p-1">
  <div
    *ngIf="toastMessage"
    class="toast align-items-center text-white border-0 fade show shadow-lg"
    [ngClass]="{
      'bg-success': toastType === 'success',
      'bg-danger': toastType === 'error',
      'bg-warning text-dark': toastType === 'warning',
    }"
    role="alert"
  >
    <div class="d-flex">
      <div class="toast-body fw-semibold">
        {{ toastMessage }}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="toastMessage = null"
      ></button>
    </div>
  </div>
</div>

<div class="container mt-5 pt-4 d-flex justify-content-center">
  <div
    class="card shadow-lg"
    style="max-width: 900px; width: 100%; border-radius: 15px"
  >
    <div class="row g-0">
      <div class="col-md-7">
        <img
          src="/assets/business_images/login3_img.png"
          class="img-fluid h-100 w-100"
          style="
            object-fit: cover;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          "
        />
      </div>

      <div class="col-md-5 p-4 p-md-5">
        <h2 class="title mb-4 text-center fw-bold text-success">
          Business Login
        </h2>

        <form [formGroup]="businessForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label fw-semibold">Email</label>

            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter your email"
              (keypress)="blockSpaces($event)"
            />

            <div
              *ngIf="
                businessForm.controls['email']?.touched &&
                businessForm.controls['email']?.invalid
              "
            >
              <small
                *ngIf="businessForm.controls['email']?.errors?.['required']"
                class="text-danger"
              >
                Email is required
              </small>

              <small
                *ngIf="businessForm.controls['email']?.errors?.['email']"
                class="text-danger"
              >
                Invalid email format
              </small>
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label fw-semibold">
              Password
            </label>

            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Enter your password"
                (keypress)="blockSpaces($event)"
              />

              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePassword()"
              >
                <i
                  class="bi"
                  [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                ></i>
              </button>
            </div>

            <div
              *ngIf="
                businessForm.controls['password']?.touched &&
                businessForm.controls['password']?.invalid
              "
            >
              <small
                *ngIf="businessForm.controls['password']?.errors?.['required']"
                class="text-danger"
              >
                Password is required
              </small>

              <small
                *ngIf="businessForm.controls['password']?.errors?.['pattern']"
                class="text-danger"
              >
                Password must be at least 6 characters and include letters,
                numbers, and special characters
              </small>
            </div>
          </div>

          <div class="text-start mb-4">
            <a
              routerLink="/business-Forgotpassword"
              class="text-success text-decoration-none small"
            >
              Forgot password?
            </a>
          </div>

          <div class="d-flex gap-2">
            <button
              type="submit"
              class="btn btn-success w-100 py-2 fw-semibold"
              [disabled]="businessForm.invalid"
            >
              Login
            </button>

            <button class="btn btn-success">
              <i class="bi bi-box-arrow-in-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
