<button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#userModal" (click)="openAddModal()">
  Add Manager
</button> 
 
 <div class="dashboard">
        <h2 class="title mb-4 p-3 text-center  ">List of Managers</h2>
       

<div class="row">
      <table class="table table-bordered table-stribed  ">
            <thead class="table-success ">
                <tr>
                <th>Sl.no</th>
                <th> Name</th>
                <th>Email</th>
                 <th>Phone Number </th>
                 <th>Address</th>
                 <th>Image</th>
                 <th>Business ID</th>
                 <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of manager;  let i=index">
                    <td>{{i+1}}</td>
                    <td>{{m.full_name}}</td>
                    <td>{{m.email}}</td>
                    <td>{{m.phone_number}}</td>
                    <td>{{m.address}}</td>
                    <td>{{m.image}}</td>
                    <td>{{m.business_id}}</td>
                    <td>{{m.status}}</td>
                </tr>
            </tbody>
                   