
 
 <div class="dashboard">
        <h2 class="title mb-4 p-3 text-center  ">List of Managers</h2>
       

<div class="row">
      <table class="table table-bordered table-stribed  ">
            <thead class="table-success ">
                <tr>
                <th>Sl.no</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number </th>
                <th>Address</th>
               
                <th>Business ID</th>
                <th>Status</th>
               
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of manager;  let i=index">
                    <td>{{i+1}}</td>
                    <td>{{m.full_name}}</td>
                    <td>{{m.email}}</td>
                    <td>{{m.phon}}</td>
                    <div *ngIf="m.address">
                        {{m.address.house_No}}, {{m.address.town_Name}} <br>
                        {{m.address.mandal_Name}},{{m.address.district_Name}} <br>
                        {{m.address.state}}, {{m.address.pincode}}
                    </div>
                   
                    <td>{{m.business_id}}</td>
                    <td>{{m.status}}</td>


                </tr>
            </tbody>
                   