.side-btn {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.side-btn:hover {
  background-color: #e5e7eb;
}
.active-btn {
  background-color: #d1d5db !important;
  font-weight: 600;
  transform: translateX(4px);
  border-left: 4px solid #3b8651;
  border-right: 4px solid #3b8651;
}


