<div class="container-fluid body">
  <div class="row">
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top bg-success px-3 w-100"
    >
      <a
        class="navbar-brand text-white fw-bold"
        style="cursor: pointer"
        routerLink="/home"
      >
        InnoVITA Bill
      </a>

      <div class="ms-auto d-flex align-items-center">
        <div class="me-3 text-white text-end">
          <div class="fw-bold">{{ loggedInUser?.name }}</div>

          <small><b>Role</b> : {{ loggedInUser?.role }}</small>
        </div>

        <div class="dropdown">
          <a
            class="nav-link text-white d-flex align-items-center"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle fs-3"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end shadow"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="userprofile">
                <i class="bi bi-person me-2"></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                class="dropdown-item text-danger"
                 data-bs-toggle="modal"
                data-bs-target="#logoutModal"
                type="button"
                
              >
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row mt-5 pt-4">
    <div class="col-md-2">
      <div class="d-flex flex-column gap-2 mt-4">
        <div
          *ngIf="
            loggedInUser?.role === 'Admin' || loggedInUser?.role === 'Manager'
          "
          class="d-flex flex-column gap-2"
        >
          <button
            class="btn side-btn text-dark"
            routerLink="/userview/userdashboard"
            routerLinkActive="active-btn"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <b><i class="bi bi-building-fill-dash me-2"></i></b>Dashboard
          </button>
          <button class="btn side-btn" routerLink="/userview/categories">
            <i class="bi bi-receipt-cutoff"></i> Categories
          </button>

          <button class="btn side-btn" routerLink="/userview/sub-categories">
            <i class="bi bi-diagram-2-fill"></i> Sub Categories
          </button>

          <button class="btn side-btn" routerLink="/userview/units">
            <i class="bi bi-bounding-box"></i> Units
          </button>

          <button class="btn side-btn" routerLink="/userview/itemlist">
            <i class="bi bi-list-check"></i> Items
          </button>

          <button class="btn side-btn" routerLink="/userview/items">
            <i class="bi bi-plus-circle"></i> Create Item
          </button>

          <button class="btn side-btn" routerLink="/userview/salereports">
            <i class="bi bi-bar-chart"></i> Sales Reports
          </button>

          <button class="btn side-btn" routerLink="/userview/purchase">
            <i class="bi bi-plus-circle"></i> Create Purchase
          </button>

          <button class="btn side-btn" routerLink="/userview/purchaselist">
            <i class="bi bi-bag"></i> Purchase List
          </button>

          <button class="btn side-btn" routerLink="/userview/quotation">
            <i class="bi bi-receipt-cutoff"></i> Quotation
          </button>
        </div>

        <div
          *ngIf="loggedInUser?.role === 'Cashier'"
          class="d-flex flex-column gap-2"
        >
          <button class="btn side-btn" routerLink="/userview/saleslist">
            <i class="bi bi-file-earmark-bar-graph"></i> Sales
          </button>

          <button class="btn side-btn" routerLink="/userview/sale">
            <i class="bi bi-plus-circle"></i> Create Sale
          </button>
        </div>

        <div
          *ngIf="loggedInUser?.role === 'Accountant'"
          class="d-flex flex-column gap-2"
        >
          <button class="btn side-btn" routerLink="/userview/expenses">
            <i class="bi bi-currency-rupee"></i> Expenses
          </button>
        </div>
      </div>
      
    </div>
     <div class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p class="mb-0 fs-5">Are you sure you want to logout?</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#logoutModal"
            (click)="logout()"
          >
            Yes, Logout
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-expand-lg bg-success px-3 w-100">
  <button
    class="btn btn-outline-light me-2"
    style="font-size: small"
    (click)="toggleSidebar()"
    data-toggle="tooltip" data-placement="top" title="Menu"
  >
    <i class="bi" [ngClass]="sidebarOpen ? 'bi-list' : 'bi-list'"></i>
  </button>
  <a
    class="navbar-brand text-light fw-bold"
    style="cursor: pointer"
    routerLink="/home"
  >
    InnoVITA Bill
  </a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <div class="d-flex ms-auto align-items-center header-right">
    <div
      class="me-3 text-white text-end flex-column"
      [class.d-none]="!sidebarOpen"
      [class.d-md-flex]="true"
    >
      <div class="fw-bold">{{ loggedInUser?.name }}</div>
      <small><b>Role</b> : {{ loggedInUser?.role }}</small>
    </div>
    <div
      class="dropdown"
      [class.d-none]="!sidebarOpen"
      [class.d-md-flex]="true"
    >
      <a
        class="btn btn-outline-light rounded-circle"
        style="font-size: small"
        id="userMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-toggle="tooltip" data-placement="top" title="Profile"
      >
        <i class="bi bi-person"></i>
      </a>

      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="userMenuButton"
      >
        <li>
          <a class="dropdown-item" routerLink="userprofile"
            >Profile</a
          >
        </li>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- <div class="container-fluid">
  <div class="d-flex flex-grow-1">
    <nav
      class="sidebar bg-white border-end p-3 d-flex flex-column"
      [class.sidebar-collapsed]="!sidebarOpen"
      [class.sidebar-mobile-open]="sidebarOpen"
    >
      <ul class="nav flex-column flex-grow-1" (click)="closeSidebarOnMobile()">
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/itemlist"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Item's List"
          >
            <i class="bi bi-list-check me-2"></i>
            <span class="link-text">Item's List</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/items"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Add Item"
          >
            <i class="bi bi-plus-circle me-2"></i>
            <span class="link-text">Add Item</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/saleslist"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Sale's List"
          >
            <i class="bi bi-file-earmark-bar-graph me-2"></i>
            <span class="link-text">Sale's List</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/sale"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Create Sale"
          >
            <i class="bi bi-cart-plus me-2"></i>

            <span class="link-text">Create Sale</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/salereports"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Sale's Reports"
          >
            <i class="bi bi-bar-chart me-2"></i>
            <span class="link-text">Sale's Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/purchase"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Create Purchase"
          >
            <i class="bi bi-bag me-2"></i>
            <span class="link-text">Create Purchase</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/purchaselist"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Purchase List"
          >
            <i class="bi bi-cart-check me-2"></i>

            <span class="link-text"> Purchase List</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            routerLink="/userview/quotation"
            routerLinkActive="active"
            data-toggle="tooltip" data-placement="top" title="Quotation"
          >
            <i class="bi bi-receipt-cutoff me-2"></i>
            <span class="link-text"> Quotation</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="flex-grow-1 w-100 content-area" (click)="closeSidebarOnMobile()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
