<button
  class="btn btn-success mb-2"
  data-bs-toggle="modal"
  data-bs-target="#CategoryModal"
  (click)="openAddModal()"
>
<i class="bi bi-plus-circle"></i>
  Add Category
</button>

<div class="dashboard">
  <h2 class="title  mb-2 p-1  text-center">List of Categories</h2>
</div>

<div class="row">
  <table class="table table-bordered ">
    <thead class="table-success">
      <tr>
        <th>Sl.No</th>
        <th>Category Name</th>
        <th>Category Code</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.categories_name }}</td>
        <td>{{ c.categories_code }}</td>
        <td>{{ c.status }}</td>
        <td>
         
          <button
            class="btn btn-primary btn-sm me-1"
            (click)="edit(c)"
            data-bs-toggle="modal"
            data-bs-target="#CategoryModal"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="delete(c._id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div
  class="modal fade"
  id="CategoryModal"
  tabindex="-1"
  aria-labelledby="CategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="categoryForm" (ngSubmit)="createOrUpdateCategory()">
        <div class="modal-header">
          <h5 class="modal-title" id="CategoryModalLabel">{{ title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Category Name</label>
            <input
              type="text"
              formControlName="categories_name"
              class="form-control"
              placeholder="Enter Category Name"
            />
             <div
            *ngIf="categoryForm.controls['categories_name']?.touched && categoryForm.controls['categories_name']?.invalid"
          > 
          <small
              *ngIf="categoryForm.controls['categories_name']?.errors?.['required']"
              class="text-danger"
              > Category Name is required </small
            ></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Category Code</label>
            <input
              type="text"
              formControlName="categories_code"
              class="form-control"
              placeholder="Enter Category Code"
            />
             <div
            *ngIf="categoryForm.controls['categories_code']?.touched && categoryForm.controls['categories_code']?.invalid"
          > 
          <small
              *ngIf="categoryForm.controls['categories_code']?.errors?.['required']"
              class="text-danger"
              > Code is required </small
            ></div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
           
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
