.small-card {
  max-width: 1300px;
  margin: auto;
  font-size: 14px;
}
.custom-toast {
  padding: 14px 20px;
  border-radius: 6px;
  color: white;
  min-width: 300px;
  font-size: 15px;
  font-weight: 500;
  animation: slide-in 0.4s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.custom-toast.success {
  background: #28a745; 
}

.custom-toast.error {
  background: #dc3545; 
}

@keyframes slide-in {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
 .scrollable-card {
  max-height: 80vh; 
  overflow-y: auto;
}
.scrollable-card::-webkit-scrollbar {
  width: 6px;
}

