<div>
  <h5 class="text-success fw-bold mb-3 mt-4">
    <i class="bi bi-building me-2"></i>
    {{ selectedBusiness ? "Update Business" : "Add Business" }}
  </h5>
</div>

<div class="position-fixed top-0 end-0 p-4">
  <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
    <div class="d-flex justify-content-between align-items-center">
      <span>{{ toastMessage }}</span>
      <button class="btn-close ms-3" (click)="toastMessage = null"></button>
    </div>
  </div>
</div>

<div class="card shadow-sm p-3 mb-3 border-1 business-card mt-4 ">
  <form
    [formGroup]="addBusinessForm"
    (ngSubmit)="saveBusiness()"
    enctype="multipart/form-data"
  >
  <!-- Name -->
    <div class="row g-3">
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold">
          Business Name <span class="text-danger">*</span>
        </label>

        <input
          type="text"
          class="form-control p2"
          formControlName="business_name"
          placeholder="Enter business name"
          (input)="onNameInput($event, 'business_name')"
        />

        <small
          *ngIf="
            addBusinessForm.get('business_name')?.touched &&
            addBusinessForm.get('business_name')?.hasError('required')
          "
          class="text-danger"
        >
          Business Name is required
        </small>

        <small
          *ngIf="
            addBusinessForm.get('business_name')?.touched &&
            addBusinessForm.get('business_name')?.hasError('minlength')
          "
          class="text-danger"
        >
          Business Name must be at least 3 letters
        </small>

        <small
          *ngIf="
            addBusinessForm.get('business_name')?.touched &&
            addBusinessForm.get('business_name')?.hasError('pattern')
          "
          class="text-danger"
        >
          Only alphabets are allowed
        </small>
      </div>
      <!-- Business Type -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold">
          Business Type <span class="text-danger">*</span>
        </label>
        <select
          class="form-select p2"
          formControlName="bt_id"
        >
          <option value="">Select Business Type</option>

          <option *ngFor="let type of activeBusinessTypes" [value]="type._id">
            {{ type.business_type }}
          </option>
        </select>

        <small
          *ngIf="
            addBusinessForm.get('bt_id')?.touched &&
            addBusinessForm.get('bt_id')?.hasError('required')
          "
          class="text-danger"
        >
          Business Type is required.
        </small>
      </div>
       <!--  Owner name -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold">
          Owner Name <span class="text-danger">*</span>
        </label>

        <input
          type="text"
          class="form-control p2"
          formControlName="owner_name"
          placeholder="Enter owner name"
          (input)="onNameInput($event, 'owner_name')"
        />

        <small
          *ngIf="
            addBusinessForm.get('owner_name')?.touched &&
            (addBusinessForm.get('owner_name')?.hasError('required') ||
              addBusinessForm.get('owner_name')?.hasError('minlength'))
          "
          class="text-danger"
        >
          Owner Name is required and must be at least 3 letters
        </small>

        <small
          *ngIf="
            addBusinessForm.get('owner_name')?.touched &&
            addBusinessForm.get('owner_name')?.hasError('pattern')
          "
          class="text-danger"
        >
          Only alphabets and spaces are allowed
        </small>
      </div>
       <!--  Email -->
<div class="col-md-3 p1">
  <label class="form-label fw-semibold">
    Email <span class="text-danger">*</span>
  </label>

  <input
    type="email"
    class="form-control p2"
    formControlName="email"
    placeholder="Enter email"
    (keydown)="preventSpace($event)"
  />

  <!-- Invalid email format -->
  <small
    *ngIf="
      addBusinessForm.get('email')?.hasError('email') &&
      (addBusinessForm.get('email')?.touched ||
        addBusinessForm.get('email')?.dirty)
    "
    class="text-danger"
  >
    Enter a valid email
  </small>

  <!-- Email already exists -->
  <small
    *ngIf="
      addBusinessForm.get('email')?.hasError('emailExists') &&
      (addBusinessForm.get('email')?.touched ||
        addBusinessForm.get('email')?.dirty)
    "
    class="text-danger"
  >
    Email already exists
  </small>
</div>

       <!-- Phone number -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold"
          >Phone Number<span class="text-danger">*</span></label
        >
        <input
           type="text"
  class="form-control p2"
  formControlName="phone_number"
  placeholder="Enter phone number"
  maxlength="10"
  inputmode="numeric"
  (keypress)="allowOnlyDigits($event)"
        />
        <small *ngIf="isInvalid('phone_number')" class="text-danger">
          Phone number is required
        </small>
        <small
          *ngIf="addBusinessForm.get('phone_number')?.hasError('pattern')"
          class="text-danger"
        >
          Phone number must be exactly 10 digits
        </small>
      </div>
      <!-- Password -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold" 
          >Password <span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control p2"
          formControlName="password"
          placeholder="Enter password"
          (keydown)="preventSpace($event)"
        />

        <div
          *ngIf="
            addBusinessForm.get('password')?.touched &&
            addBusinessForm.get('password')?.invalid
          "
        >
          <small
            *ngIf="addBusinessForm.get('password')?.hasError('required')"
            class="text-danger"
          >
            Password is required
          </small>
          <small
            *ngIf="addBusinessForm.get('password')?.hasError('pattern')"
            class="text-danger"
          >
            Password must have at least 1 uppercase, 1 lowercase, and 1 special
            character
          </small>
        </div>
      </div>
        <!-- Register Number -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold"
          >Registration Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control p2"
          formControlName="registration_number"
          placeholder="Enter registration number"
          (keydown)="preventSpace($event)"
        />
        <small *ngIf="isInvalid('registration_number')" class="text-danger">
          Registration Number is required
        </small>

        <small
          *ngIf="
            addBusinessForm.get('registration_number')?.touched &&
            addBusinessForm.get('registration_number')?.hasError('pattern')
          "
          class="text-danger"
        >
          Registration Number format is invalid. Only letters and numbers
          allowed.
        </small>

        <small
          *ngIf="
            addBusinessForm.get('registration_number')?.touched &&
            addBusinessForm.get('registration_number')?.hasError('minlength')
          "
          class="text-danger"
        >
          Registration Number must be at least 3 characters.
        </small>
      </div>
        <!-- Gst Number -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold" 
          >GST Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control p2"
          formControlName="gst_number"
          placeholder="Enter GST number"
          (keydown)="preventSpace($event)"
        />
        <small *ngIf="isInvalid('gst_number')" class="text-danger">
          GST Number is required
        </small>
      </div>
        <!--  Address -->
      <div class="col-12 mt-3">
        <h6 class="text-success fw-semibold border-bottom pb-2 p1 ">Address</h6>
      </div>

      <div formGroupName="address" class="row">
        <div class="col-md-3 mb-4" *ngFor="let field of addressFields">
          <label class="form-label fw-semibold " >
            {{ field.label }}<span class="text-danger">*</span>
          </label>

          <input
            type="text"
            class="form-control p2"
            [formControlName]="field.name"
            placeholder="Enter {{ field.label }}"
            (keydown)="preventSpace($event)"
          />

         
          <div
            class="text-danger small mt-1"
            *ngIf="
              addBusinessForm.get('address.' + field.name)?.touched &&
              addBusinessForm.get('address.' + field.name)?.invalid
            "
          >
         
            <div
              *ngIf="
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('required')
              "
            >
              {{ field.label }} is required.
            </div>

          
            <div
              *ngIf="
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('minlength')
              "
            >
              {{ field.label }} must be at least 6 characters.
            </div>

         <div
  *ngIf="
    (field.name === 'town_Name' ||
      field.name === 'mandal_Name' ||
      field.name === 'district_Name' ||
      field.name === 'state') &&
    addBusinessForm.get('address.' + field.name)?.hasError('pattern')
  "
>
  The {{ field.label || field.name }} field should accept only alphabetic characters.
</div>

            <!-- Pincode only number error -->
           <div
  *ngIf="
    field.name === 'pincode' &&
    addBusinessForm.get('address.' + field.name)?.hasError('pattern')
  "
>
  Only numeric values are allowed.
</div>
          </div>
        </div>
      </div>
<!--  Documents -->
      <div class="col-12 mt-3 p1">
        <h6
          class="text-success fw-semibold border-bottom pb-2"
          
        >
          <i class="bi bi-upload me-2"></i> Upload Documents
        </h6>
      </div>
       <!-- Logo image -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold"
          >Logo<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control p2"
          (change)="onFileChange($event, 'logo_image')"
          accept="image/*"
          (keydown)="preventSpace($event)"
        />
        <div
          *ngIf="
            addBusinessForm.get('logo_image')?.touched &&
            addBusinessForm.get('logo_image')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('logo_image')?.errors?.['required']"
          >
            Logo is required
          </small>

          <small
            *ngIf="addBusinessForm.get('logo_image')?.errors?.['invalidType']"
          >
            Only JPG, PNG, WEBP allowed
          </small>

          <small *ngIf="addBusinessForm.get('logo_image')?.errors?.['maxSize']">
            Max size is 2 MB
          </small>
        </div>
      </div>
       <!--  Pan pdf -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold" 
          >PAN<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control p2"
          (change)="onFileChange($event, 'pan_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
        />
        <div
          *ngIf="
            addBusinessForm.get('pan_pdf')?.touched &&
            addBusinessForm.get('pan_pdf')?.errors
          "
          class="text-danger"
        >
          <small *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['required']">
            PAN file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['maxSize']">
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>
      <!--  Aadhar pdf -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold" 
          >Aadhar<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control p2"
          (change)="onFileChange($event, 'aadhar_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
        />
        <div
          *ngIf="
            addBusinessForm.get('aadhar_pdf')?.touched &&
            addBusinessForm.get('aadhar_pdf')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['required']"
          >
            Aadhar file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['maxSize']">
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>
       <!-- Certificate pdf -->
      <div class="col-md-3 p1">
        <label class="form-label fw-semibold" 
          >Incorporation Certificate<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control p2"
          (change)="onFileChange($event, 'certificate_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
        />
        <div
          *ngIf="
            addBusinessForm.get('certificate_pdf')?.touched &&
            addBusinessForm.get('certificate_pdf')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['required']"
          >
            Certificate file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['maxSize']"
          >
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>
    </div>

    <div
      class="mt-4 d-flex flex-column flex-md-row justify-content-md-end gap-2"
    >
      <button
        type="button"
        class="btn btn-secondary px-4"
        (click)="cancelAdd()"
        data-toggle="tooltip" data-placement="top" title="Cancel"
      >
        <i class="bi bi-x-circle me-1"></i> Cancel
      </button>

      <button type="submit" class="btn btn-success px-4" data-toggle="tooltip" data-placement="top" title="Save">
        <i class="bi bi-save me-1"></i>
        {{ selectedBusiness ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
