<div>
  <h5 class="text-success fw-bold mb-3">
    <i class="bi bi-building me-2"></i>
    {{ selectedBusiness ? "Update Business" : "Add Business" }}
  </h5>
</div>

<div class="card shadow-sm p-3 mb-3 border-1 small-card scrollable-card" style="max-height: 600px; overflow-y: auto;">
  <div class="position-fixed top-0 end-0 p-4" style="z-index: 1080">
    <div *ngIf="toastMessage" class="custom-toast" [ngClass]="toastType">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ toastMessage }}</span>
        <button class="btn-close ms-3" (click)="toastMessage = null"></button>
      </div>
    </div>
  </div>

  <!-- <h5 class="text-success fw-bold mb-3">
    <i class="bi bi-building me-2"></i>
    {{ selectedBusiness ? "Update Business" : "Add Business" }}
  </h5> -->

  <form
    [formGroup]="addBusinessForm"
    (ngSubmit)="saveBusiness()"
    enctype="multipart/form-data"
  >
    <div class="row g-3">
      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Business Name<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="business_name"
          placeholder="Enter business name"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <small
          *ngIf="addBusinessForm.get('business_namee')?.hasError('required')"
          class="text-danger"
        >
          Business Name is required
        </small>
        <small *ngIf="isInvalid('business_name')" class="text-danger">
          Business Name is required and must be at least 3 letters
        </small>
        <small
          *ngIf="addBusinessForm.get('business_name')?.hasError('pattern')"
          class="text-danger"
        >
          Only alphabets are allowed
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium">
          Business Type <span class="text-danger">*</span>
        </label>

        <select class="form-select" formControlName="bt_id">
          <option value="">Select Business Type</option>
          <option *ngFor="let type of businessTypes" [value]="type._id">
            {{ type.business_type }}
          </option>
        </select>

        <small
          *ngIf="
            addBusinessForm.get('bt_id')?.touched &&
            addBusinessForm.get('bt_id')?.hasError('required')
          "
          class="text-danger"
        >
          Business Type is required.
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium">
          Owner Name <span class="text-danger">*</span>
        </label>

        <input
          type="text"
          class="form-control"
          formControlName="owner_name"
          placeholder="Enter owner name"
          (input)="onNameInput($event)"
          style="height: 45px"
        />

        <small
          *ngIf="
            addBusinessForm.get('owner_name')?.touched &&
            (addBusinessForm.get('owner_name')?.hasError('required') ||
              addBusinessForm.get('owner_name')?.hasError('minlength'))
          "
          class="text-danger"
        >
          Owner Name is required and must be at least 3 letters
        </small>

        <small
          *ngIf="
            addBusinessForm.get('owner_name')?.touched &&
            addBusinessForm.get('owner_name')?.hasError('pattern')
          "
          class="text-danger"
        >
          Only alphabets and spaces are allowed
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Email<span class="text-danger">*</span></label
        >
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter email"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <small *ngIf="isInvalid('email')" class="text-danger">
          Enter a valid email
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Phone Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="phone_number"
          placeholder="Enter phone number"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <small *ngIf="isInvalid('phone_number')" class="text-danger">
          Phone number is required
        </small>
        <small
          *ngIf="addBusinessForm.get('phone_number')?.hasError('pattern')"
          class="text-danger"
        >
          Phone number must be exactly 10 digits
        </small>
      </div>
      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Password <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="password"
          placeholder="Enter password"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />

        <div
          *ngIf="
            addBusinessForm.get('password')?.touched &&
            addBusinessForm.get('password')?.invalid
          "
        >
          <small
            *ngIf="addBusinessForm.get('password')?.hasError('required')"
            class="text-danger"
          >
            Password is required
          </small>
          <small
            *ngIf="addBusinessForm.get('password')?.hasError('pattern')"
            class="text-danger"
          >
            Password must have at least 1 uppercase, 1 lowercase, and 1 special
            character
          </small>

          <!-- <small
            class="text-danger"
            *ngIf="addBusinessForm.get('password')?.errors?.['pattern']"
          >
            Password can contain only letters, numbers, and !#$%^&*().
          </small> -->
        </div>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Registration Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="registration_number"
          placeholder="Enter registration number"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />

        <!-- <small *ngIf="isInvalid('registration_number')" class="text-danger">
  Registration Number is required
</small>

<small
  *ngIf="
    addBusinessForm.get('registration_number')?.touched &&
    addBusinessForm.get('registration_number')?.hasError('pattern')
  "
  class="text-danger"
>
  Registration Number format is invalid
</small> -->
        <small *ngIf="isInvalid('registration_number')" class="text-danger">
          Registration Number is required
        </small>

        <small
          *ngIf="
            addBusinessForm.get('registration_number')?.touched &&
            addBusinessForm.get('registration_number')?.hasError('pattern')
          "
          class="text-danger"
        >
          Registration Number format is invalid. Only letters and numbers
          allowed.
        </small>

        <small
          *ngIf="
            addBusinessForm.get('registration_number')?.touched &&
            addBusinessForm.get('registration_number')?.hasError('minlength')
          "
          class="text-danger"
        >
          Registration Number must be at least 3 characters.
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >GST Number<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="gst_number"
          placeholder="Enter GST number"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <small *ngIf="isInvalid('gst_number')" class="text-danger">
          GST Number is required
        </small>
      </div>

      <div class="col-12 mt-3">
        <h6 class="text-success fw-semibold border-bottom pb-2">Address</h6>
      </div>

      <div formGroupName="address" class="row">
        <div class="col-md-3 mb-4" *ngFor="let field of addressFields">
          <label class="form-label fw-semibold" style="font-size: medium">
            {{ field.label }}<span class="text-danger">*</span>
          </label>

          <input
            type="text"
            class="form-control"
            [formControlName]="field.name"
            placeholder="Enter {{ field.label }}"
            style="height: 45px"
            (keydown)="preventSpace($event)"
          />

          <!-- Error Messages -->
          <div
            class="text-danger small mt-1"
            *ngIf="
              addBusinessForm.get('address.' + field.name)?.touched &&
              addBusinessForm.get('address.' + field.name)?.invalid
            "
          >
            <!-- Required -->
            <div
              *ngIf="
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('required')
              "
            >
              {{ field.label }} is required.
            </div>

            <!-- Min Length -->
            <div
              *ngIf="
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('minlength')
              "
            >
              {{ field.label }} must be at least 3 characters.
            </div>

            <!-- Alphabet only errors -->
            <div
              *ngIf="
                (field.name === 'town_Name' ||
                  field.name === 'mandal_Name' ||
                  field.name === 'district_Name' ||
                  field.name === 'state') &&
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('pattern')
              "
            >
              Only alphabets are allowed.
            </div>

            <!-- Pincode only number error -->
            <div
              *ngIf="
                field.name === 'pincode' &&
                addBusinessForm
                  .get('address.' + field.name)
                  ?.hasError('pattern')
              "
            >
              Only numbers are allowed.
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <h6
          class="text-success fw-semibold border-bottom pb-2"
          style="font-size: medium"
        >
          <i class="bi bi-upload me-2"></i> Upload Documents
        </h6>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Logo<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control"
          (change)="onFileChange($event, 'logo_image')"
          accept="image/*"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <div
          *ngIf="
            addBusinessForm.get('logo_image')?.touched &&
            addBusinessForm.get('logo_image')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('logo_image')?.errors?.['required']"
          >
            Logo is required
          </small>

          <small
            *ngIf="addBusinessForm.get('logo_image')?.errors?.['invalidType']"
          >
            Only JPG, PNG, WEBP allowed
          </small>

          <small *ngIf="addBusinessForm.get('logo_image')?.errors?.['maxSize']">
            Max size is 2 MB
          </small>
        </div>

        <!-- <div
            *ngIf="
              addBusinessForm.get('logo_image')?.touched &&
              addBusinessForm.get('logo_image')?.invalid
            "
            style="color: red"
          >
            <small
              *ngIf="addBusinessForm.get('logo_image')?.errors?.['required']"
              >Name is required</small
            >
            <small
              *ngIf="addBusinessForm.get('logo_image')?.errors?.['minlength']"
              >Name Atleast 3 letters
            </small>
          </div> -->
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >PAN<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control"
          (change)="onFileChange($event, 'pan_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <div
          *ngIf="
            addBusinessForm.get('pan_pdf')?.touched &&
            addBusinessForm.get('pan_pdf')?.errors
          "
          class="text-danger"
        >
          <small *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['required']">
            PAN file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small *ngIf="addBusinessForm.get('pan_pdf')?.errors?.['maxSize']">
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Aadhar<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control"
          (change)="onFileChange($event, 'aadhar_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <div
          *ngIf="
            addBusinessForm.get('aadhar_pdf')?.touched &&
            addBusinessForm.get('aadhar_pdf')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['required']"
          >
            Aadhar file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small *ngIf="addBusinessForm.get('aadhar_pdf')?.errors?.['maxSize']">
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>

      <div class="col-md-3">
        <label class="form-label fw-semibold" style="font-size: medium"
          >Incorporation Certificate<span class="text-danger">*</span></label
        >
        <input
          type="file"
          class="form-control"
          (change)="onFileChange($event, 'certificate_pdf')"
          accept="application/pdf"
          (keydown)="preventSpace($event)"
          style="height: 45px"
        />
        <div
          *ngIf="
            addBusinessForm.get('certificate_pdf')?.touched &&
            addBusinessForm.get('certificate_pdf')?.errors
          "
          class="text-danger"
        >
          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['required']"
          >
            Certificate file is required
          </small>

          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['invalidType']"
          >
            Only PDF files are allowed
          </small>

          <small
            *ngIf="addBusinessForm.get('certificate_pdf')?.errors?.['maxSize']"
          >
            Maximum size allowed is 5 MB
          </small>
        </div>
      </div>
    </div>

    <div
      class="mt-4 d-flex flex-column flex-md-row justify-content-md-end gap-2"
    >
      <button
        type="button"
        class="btn btn-secondary px-4"
        (click)="cancelAdd()"
      >
        <i class="bi bi-x-circle me-1"></i> Cancel
      </button>

      <button type="submit" class="btn btn-success px-4">
        <i class="bi bi-save me-1"></i>
        {{ selectedBusiness ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
