<div class="row p-2">
  <div class="col-md-8 order-md-1">
   <div class="search-box text-center w-100">


      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        style="max-width: 300px"
      />
    </div>
    <div class="card-table">
      <div class="table-responsive mt-2">
        <table class="table table-hover align-middle item-table">
          <thead class="table-light">
            <tr>
              <th>Image</th>
              <th>Brand</th>
              <th>Item</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Tax</th>
              <th>Stock</th>
              <th class="sticky-action">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let it of filteredItems()"
              [ngClass]="{
                'stock-low': it.stock_quantity <= 10,
                'stock-medium':
                  it.stock_quantity > 10 && it.stock_quantity <= 15,
                'stock-high': it.stock_quantity > 15,
              }"
              [class.disabled]="it.stock_quantity === 0"
              class="item-row"
            >
              <td class="image-cell">
                <div class="image-wrapper">
                  <img
                    *ngIf="it.image"
                    [src]="getImageUrl(it.image)"
                    class="item-img-table"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Image"
                  />
                </div>
              </td>

              <td>{{ it.brand_name }}</td>
              <td>{{ it.item_name }}</td>
              <td>₹{{ it.selling_price }}</td>
              <td>₹{{ it.discount || 0 }}</td>
              <td>{{ it.tax_rate }}%</td>
              <td>
                {{ it.stock_quantity }} {{ it.unit }}
                <span *ngIf="it.stock_quantity === 0" class="disabled"></span>
              </td>

              <td class="sticky-action">
                <button
                  class="btn btn-sm btn-success"
                  (click)="addToCart(it)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Add Item"
                >
                  +
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4 order-md-1">
    <div
      class="selected-items scrollable-cart"
      [ngClass]="{ 'empty-state': cartItems.length === 0 }"
    >
      <div *ngIf="cartItems.length === 0" class="empty-wrapper">
        <h4><i class="bi bi-cart4"></i> Cart</h4>
        <div class="empty">No items added yet</div>
      </div>

      <div *ngIf="cartItems.length > 0">
        <h4><i class="bi bi-cart4"></i> Cart</h4>

        <div class="selected-card" *ngFor="let item of cartItems">
          <div class="cart-content">
            <div class="cart-left">
              <span class="cart-brand">{{ item.brand_name }}</span>
              <div class="cart-item-name">{{ item.item_name }}</div>
            </div>

            <div class="cart-image">
              <img
                *ngIf="item.image"
                [src]="getImageUrl(item.image)"
                alt="item"
                data-toggle="tooltip"
                data-placement="top"
                title="Item Image"
              />
            </div>
          </div>

          <hr class="cart-divider" />

          <div class="cart-body">
            <p><strong>Price:</strong> ₹{{ item.selling_price }}</p>
            <p><strong>Discount:</strong> ₹{{ item.discount || 0 }}</p>
            <p><strong>Tax:</strong> {{ item.tax_rate || 0 }}%</p>
            <p>
              <strong>Available:</strong>
              {{ getAvailableStock(item._id) }}
            </p>
            <p class="cart-total fs-4">
              <strong>Total:</strong> ₹{{ getItemTotal(item) }}
            </p>
          </div>

          <div class="cart-buttons">
            <button
              class="remove"
              (click)="removeFromCart(item)"
              data-toggle="tooltip"
              data-placement="top"
              title="Remove Item"
            >
              −
            </button>
            <span class="quantity">{{ item.cartQty }}</span>
            <button
              class="add"
              (click)="addToCart(item)"
              data-toggle="tooltip"
              data-placement="top"
              title="Add Item"
            >
              +
            </button>
          </div>
        </div>

        <div class="total-summary">
          Grand Total: ₹{{ getTotalBill() }}
          <br />
          <button
            class="generate-btn btn-success"
            (click)="toggleCustomerForm()"
            data-toggle="tooltip"
            data-placement="top"
            title="Generate Bill"
          >
            Generate Bill
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showCustomerForm">
  <div class="modal-content">
    <div class="modal-header-custom bg-success">
      <h3>Customer Details</h3>

      <button
        type="button"
        class="btn-close btn-close-dark"
        aria-label="Close"
        (click)="toggleCustomerForm()"
      ></button>
    </div>

    <form [formGroup]="customerForm">
      <div class="row">
        <div class="col">
          <label>Name <span class="text-danger">*</span></label>
          <input formControlName="name" type="text" />
        </div>

        <div class="col">
          <label>Phone <span class="text-danger">*</span></label>
          <input
            formControlName="phone"
            type="text"
            maxlength="10"
            (input)="onPhoneInput($event)"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Email </label>
          <input formControlName="email" type="email" />
        </div>
        <div class="col">
          <label>Address</label>
          <input formControlName="address" type="text" />
        </div>
      </div>

      <div class="modal-actions">
        <button
          type="button"
          class="btn-success"
          (click)="generateBill()"
          data-toggle="tooltip"
          data-placement="top"
          title="Print Bill"
        >
          Print Bill
        </button>
        <button
          type="button"
          class="btn-cancel"
          (click)="toggleCustomerForm()"
          data-toggle="tooltip"
          data-placement="top"
          title="Cancel"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<div id="printArea" style="display: none">
  <h2>{{ business?.name || "Invoice" }}</h2>
  <p>Date: {{ currentDate }}</p>
  <p>Invoice No: {{ invoice_number }}</p>

  <hr />

  <p><strong>Customer:</strong> {{ customerForm.value.name }}</p>
  <p>Phone: {{ customerForm.value.phone }}</p>

  <hr />

  <table width="100%" border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of cartItems">
        <td>{{ it.item_name }}</td>
        <td>{{ it.cartQty }}</td>
        <td>₹{{ it.selling_price }}</td>
        <td>₹{{ getItemTotal(it) }}</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <h3>Grand Total: ₹{{ grandTotal }}</h3>
</div>
