<div class="row p-2 align-items-stretch">
  <div class="col-md-8 order-md-1">
    <div class="d-flex align-items-center gap-3 mb-3">
      <h4 class="mb-0 fw-bold text-success">Create Sale</h4>

      <div class="search-box mt-2" style="width: 600px">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchTerm"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="container mt-3">
          <div class="row">
            <div
              class="col-md-3 col-sm-4 col-6 mb-2"
              *ngFor="let it of filteredItems()"
            >
              <div
                class="card item-card"
                (click)="addToCart(it)"
                [class.added]="it.cartQty > 0"
              >
                <div class="card-body text-center scroll-area">
                  <h6 class="fw-bold">
                    {{ it.item_name }}
                    <span class="text-muted">({{ it.brand_name }})</span>
                  </h6>

                  <p class="mb-1">₹{{ it.selling_price }}</p>

                  <p class="text-success mb-2">
                    Discount: ₹{{ it.discount || 0 }}
                  </p>

                  <div
                    class="d-flex justify-content-center gap-2"
                    *ngIf="it.cartQty > 0"
                    (click)="$event.stopPropagation()"
                  >
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="removeFromCart(it)"
                    >
                      −
                    </button>
                    <span>{{ it.cartQty }}</span>
                    <button
                      class="btn btn-sm btn-success"
                      (click)="addToCart(it)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card mt-3">
          <div class="card-header">
            <div class="card-title">Order Details</div>
          </div>
          <div class="card-body">
            <div *ngIf="cartItems.length === 0" class="text-center text-muted">
              No items added
            </div>

            <div *ngFor="let item of cartItems" class="order-item">
              <div class="order-left">
                <div class="order-name">
                  {{ item.item_name }}
                  <span class="text-muted">({{ item.brand_name }})</span>
                </div>

                <div class="bottom-row mt-2">
                  <div class="qty-controls">
                    <i class="bi bi-dash" (click)="decreaseQty(item)"></i>
                    <!-- <button class="qty-btn minus" (click)="decreaseQty(item)">
                    −
                  </button> -->
                    <span class="qty">{{ item.cartQty }}</span>
                    <i class="bi bi-plus" (click)="addToCart(item)"></i>
                    <!-- <button class="qty-btn plus" (click)="addToCart(item)">
                    +
                  </button> -->
                  </div>

                  <!-- <div class="total-row text-center">
                    <strong>Total:</strong> ₹{{ getItemTotal(item) }}
                  </div> -->
                </div>
              </div>

              <!-- Total -->
              <!-- <div class="order-right">
    ₹{{ getItemTotal(item) }}
  </div> -->
              <div class="order-details">
                <div class="order-right">
                  ₹{{ item.selling_price }} × {{ item.cartQty }} = ₹{{
                    item.selling_price * item.cartQty | number: "1.2-2"
                  }}
                </div>

                <div class="order-right">
                  <span class="text-danger">
                    Disc: - ₹{{ getItemDiscount(item) | number: "1.2-2" }}
                  </span>

                  <span class="mx-2">|</span>

                  <span class="text-primary">
                    Tax: ₹{{ getItemTax(item) | number: "1.2-2" }}
                  </span>
                </div>
                <div class="order-right text-dark">
                  <strong>Total:</strong> ₹{{
                    getItemTotal(item) | number: "1.2-2"
                  }}
                </div>
              </div>
            </div>

            <div *ngIf="cartItems.length > 0" class="order-summary">
              <div class="summary-row">
                <span>Subtotal</span>
                <span>₹{{ getSubTotal() | number: "1.2-2" }}</span>
              </div>

              <div class="summary-row text-danger">
                <span>Discount</span>
                <span>-₹{{ getTotalDiscount() | number: "1.2-2" }}</span>
              </div>

              <div class="summary-row text-primary">
                <span>Tax</span>
                <span>₹{{ getTotalTax() | number: "1.2-2" }}</span>
              </div>

              <hr />

              <div class="summary-row total">
                <span>Total</span>
                <span>₹{{ getTotalBill() | number: "1.2-2" }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer bg-light b-0">
            <button class="generate-btn mt-2" (click)="toggleCustomerForm()">
              Generate Invoice
            </button>
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE → CART -->
      <!-- <div class="col-md-4 col-sm-6 col-12 mb-2 cart-container">
        <div class="selected-items" style="margin-top: 18px; height: 400px">
          <h5 class="mb-3 fw-bold">Order Details</h5>

          <div *ngIf="cartItems.length === 0" class="text-center text-muted">
            No items added
          </div>

          <div *ngFor="let item of cartItems" class="order-item">
            <div class="order-left">
             
              <div class="order-name">
                {{ item.item_name }}
                <span class="text-muted">({{ item.brand_name }})</span>
              </div>

           

             
              <div class="bottom-row">
              
                <div class="qty-controls">
                  <button class="qty-btn minus" (click)="decreaseQty(item)">
                    −
                  </button>
                  <span class="qty">{{ item.cartQty }}</span>
                  <button class="qty-btn plus" (click)="addToCart(item)">
                    +
                  </button>
                </div>

              
                <div class="total-row text-center">
                  <strong>Total:</strong> ₹{{ getItemTotal(item) }}
                </div>
              </div>
            </div>

          
             <div class="order-right">
    ₹{{ getItemTotal(item) }}
  </div> 
            <div class="order-details">
              <div class="order-right">
                ₹{{ item.selling_price }} × {{ item.cartQty }}
              </div>

              <div class="order-right text-success">
                Discount: ₹{{ getItemDiscount(item) }}
              </div>

              <div class="order-right text-primary">
                Tax: ₹{{ getItemTax(item) }}
              </div>
            </div>
          </div>

      
          <div *ngIf="cartItems.length > 0" class="order-summary">
            <div class="summary-row">
              <span>Subtotal</span>
              <span>₹{{ getSubTotal() }}</span>
            </div>

            <div class="summary-row text-danger">
              <span>Discount</span>
              <span>-₹{{ getTotalDiscount() }}</span>
            </div>

            <div class="summary-row text-primary">
              <span>Tax</span>
              <span>₹{{ getTotalTax() }}</span>
            </div>

            <hr />

            <div class="summary-row total">
              <span>Total</span>
              <span>₹{{ getTotalBill() }}</span>
            </div>

            <button class="generate-btn mt-2" (click)="toggleCustomerForm()">
              Generate Bill
            </button>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="modal" *ngIf="showCustomerForm">
    <div class="modal-content">
      <div class="modal-header-custom b-0">
        <h3>Customer Details</h3>

        <button
          type="button"
          class="btn-close btn-close-dark"
          aria-label="Close"
          (click)="toggleCustomerForm()"
        ></button>
      </div>

      <form [formGroup]="customerForm">
        <div class="row">
          <div class="col">
            <label>Name <span class="text-danger">*</span></label>
            <input formControlName="name" type="text" />
          </div>

          <div class="col">
            <label>Phone <span class="text-danger">*</span></label>
            <input
              formControlName="phone"
              type="text"
              maxlength="10"
              (input)="onPhoneInput($event)"
            />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Email </label>
            <input formControlName="email" type="email" />
          </div>
          <div class="col">
            <label>Address</label>
            <input formControlName="address" type="text" />
          </div>
        </div>

        <div class="modal-actions">
          <button
            type="button"
            class="btn-success"
            (click)="generateBill()"
            data-toggle="tooltip"
            data-placement="top"
            title="Print Bill"
          >
            Print Bill
          </button>
          <button
            type="button"
            class="btn-cancel"
            (click)="toggleCustomerForm()"
            data-toggle="tooltip"
            data-placement="top"
            title="Cancel"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="printArea" style="display: none">
    <h2>{{ business?.name || "Invoice" }}</h2>
    <p>Date: {{ currentDate }}</p>
    <p>Invoice No: {{ invoice_number }}</p>

    <hr />

    <p><strong>Customer:</strong> {{ customerForm.value.name }}</p>
    <p>Phone: {{ customerForm.value.phone }}</p>

    <hr />

    <table width="100%" border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let it of cartItems">
          <td>{{ it.item_name }}</td>
          <td>{{ it.cartQty }}</td>
          <td>₹{{ it.selling_price }}</td>
          <td>₹{{ getItemTotal(it) }}</td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h3>Grand Total: ₹{{ grandTotal }}</h3>
  </div>
</div>
