<div class="container-fluid">
  <div class="row">
    <nav
      class="navbar bdy navbar-expand-lg navbar-dark bg-success px-3 fixed-top"
    >
      <a class="navbar-brand text-white fw-bold" routerLink="/home"
        >InnoVITA Bill</a
      >

      <div class="ms-auto d-flex align-items-center">
        <div class="me-3 text-white text-end">
          <div class="fw-bold">{{ superadminName }}</div>
          <small>Role : Superadmin</small>
        </div>

        <div class="dropdown">
          <a
            class="nav-link text-white me-3 d-flex align-items-center dropdown-toggle nav p1"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            title="Profile"
          >
            <i class="bi bi-person-circle"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="superadmin-profile">
                <i class="bi bi-person me-2"></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#logoutModal"
              >
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="toast-container position-fixed  top-1 end-0 p-1 "
      style="top: 60px; z-index: 1200">
      <div
        *ngIf="toastMessage"
        class="toast align-items-center text-light border-0 fade show shadow-lg"
        [ngClass]="{
          'bg-success': toastType === 'success',
          'bg-warning': toastType === 'warning',
          'bg-danger': toastType === 'error'
        }"
        role="alert"
      >
        <div class="d-flex align-items-center">
          <div class="toast-body compact-body">
            {{ toastMessage }}
          </div>
          <button
            type="button"
           class="btn-close btn-close-white me-2 m-auto"
            (click)="toastMessage = null"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p class="mb-0 fs-5">Are you sure you want to logout?</p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#logoutModal"
            (click)="logout()"
          >
            Yes, Logout
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 pt-5">
    <div class="col-md-2 p-4">
      <div class="d-flex flex-column gap-3 mt-4">
        <button
          class="btn side-btn text-dark"
          routerLink="/SuperAdminView/add-business"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-plus-circle me-1"></i></b> Add Business
        </button>
        <button
          class="btn side-btn text-dark"
          routerLink="/SuperAdminView/view-business"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b><i class="bi bi-list-check me-2"></i></b> View Business
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/SuperAdminView/view_business_type"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b><i class="bi bi-file-earmark-bar-graph me-2"></i></b> Business
          Types
        </button>
      </div>
    </div>

    <div class="col-md-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
