
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top bg-success px-3"
    >
      <a
        class="navbar-brand text-white fw-bold"
        style="cursor: pointer"
        routerLink="/home"
      >
        InnoVITA Bill
      </a>

      <div class="ms-auto d-flex align-items-center">
        <div class="me-3 text-white text-end">
          <div class="fw-bold">{{ loggedInBusiness?.name }}</div>
          <small class="fw-bold">Role : Business</small>
        </div>

        <div class="dropdown">
          <a
            class="nav-link text-white d-flex align-items-center dropdown-toggle"
            id="profileDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="cursor: pointer"
          >
            <i class="bi bi-person-circle" style="font-size: 28px"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="businessprofile">
                <i class="bi bi-person me-2 "></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="logout()"
              >
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    <div
      class="toast-container position-fixed end-0 p-2"
      style="top: 60px; z-index: 1200"
    >
      <div
        *ngIf="toastMessage"
        class="toast show align-items-center text-white compact-toast"
        [ngClass]="{
          'bg-success': toastType === 'success',
          'bg-warning': toastType === 'warning',
          'bg-danger': toastType === 'error'
        }"
        role="alert"
      >
        <div class="d-flex align-items-center">
          <div class="toast-body compact-body">
            {{ toastMessage }}
          </div>
          <button
            type="button"
            class="btn-close btn-close-white compact-close"
            (click)="toastMessage = null"
          ></button>
        </div>
      </div>
    </div>
  
 <div class="container-fluid  dashboard-wrapper">
 
  <div class="row">
    <div class="col-md-2 p-4 ">
      <div class="d-flex flex-column gap-3 ">
        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/users"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-people-fill me-1"></i></b> Users
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/roles"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-person-fill-gear me-1"></i></b> Roles
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/categories"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-grid-fill me-1"></i></b> categories
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/sub-categories"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-diagram-2-fill me-1"></i> </b> Sub Categories
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/business-Dashboard/units"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-bounding-box me-1"></i></b>Units
        </button>
      </div>
    </div>

    <div class="col-md-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
