
html, body {
  margin: 0;
  padding: 0;
 
  overflow: hidden; 
}

body {
  padding-top: 65px;
}

/* .content-wrapper {
  background-image: url("/assets/business_images/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  margin-left: 0;
} */


/* Remove sidebar background completely */
#sidebar {
  background: transparent !important;
  --bs-offcanvas-bg: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Remove body background inside sidebar */
#sidebar .offcanvas-body {
  background: transparent !important;
  padding: 10px;
}

/* Remove header background */
#sidebar .offcanvas-header {
  background: transparent !important;
  border: none !important;
}

/* Sidebar fixed on desktop */
@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    width: 250px;
    height: calc(100vh - 64px);
    transform: none !important;
    visibility: visible !important;
  }

  .content-wrapper {
    margin-left: 250px;
  }
}

/* Buttons only visible */
.side-btn {
  background: #f3f4f6;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 14px;
  border-radius: 8px;
}

/* Hover */
.side-btn:hover {
  background: #e5e7eb;
}

/* Active */
.active-btn {
  background: #d1d5db !important;
  border-left: 4px solid #198754;
}
/* REMOVE SIDEBAR BACKGROUND COMPLETELY */
#sidebar,
#sidebar.offcanvas,
#sidebar .offcanvas-body,
#sidebar .offcanvas-header {
  background: transparent !important;
  --bs-offcanvas-bg: transparent !important;
  box-shadow: none !important;
  border: none !important;
}