.table-wrapper {
  max-height: 500px;      
  overflow-y: auto;       
  position: relative;
  width: 1200px;
}


.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #d1e7dd;   
  z-index: 5;
}


.table-responsive {
  overflow-x: auto;
  overflow-y: visible;
}

.light-green {
  color: #0a5c0a;
}