<div class="container-fluid mt-4">
  <div *ngIf="!isCreatingInvoice()">
    <div class="">
      <div class="row">
        <div
          class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 mb-3"
        >
          <h4 class="mb-3 fw-bold text-success">Available Items</h4>

          <div class="search-box">
            <input
              type="text"
              class="form-control"
              style="width: 300px"
              placeholder="Search"
              [(ngModel)]="searchTerm"
            />
          </div>
          <div class="d-flex align-items-center justify-content-end gap-2 mt-2">
            <label class="fw-bold text-success mb-0">STATUS:</label>

            <div class="dropdown me-2">
              <button
                class="btn btn-light text-dark fw-semibold dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                title="Status"
                style="width: 100px"
              >
                {{ selectedFilter }}
              </button>

              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" (click)="changeFilter('All')">
                    All
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    (click)="changeFilter('Active')"
                  >
                    Active
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    (click)="changeFilter('Inactive')"
                  >
                    Inactive
                  </button>
                </li>
              </ul>
            </div>
            <a
              class="btn btn-light text-dark fw-semibold me-2"
              routerLink="/userview/items"
              routerLinkActive="active-btn"
            >
              <b><i class="bi bi-plus-circle me-1"></i></b> Add Items
            </a>
          </div>
        </div>

        <div class="table-wrapper">
          <div class="table-responsive table-scroll">
            <table
              class="table table-bordered table-hover align-middle text-start"
            >
              <thead class="table-success sticky-header">
                <tr>
                  <th class="light-green">S.No</th>
                  <th class="light-green">Item Name</th>
                  <th class="light-green">Item Code</th>
                  <th class="light-green">Brand</th>
                  <!-- <th class="light-green">BarCode</th> -->

                  <th class="light-green">Price (₹)</th>

                  <th class="light-green">Available Quantity</th>
                  <th class="light-green">Status</th>
                  <th class="light-green">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let it of filteredItems(); let i = index"
                  [ngClass]="{
                    'low-stock': it.stock_quantity <= 5,
                    'medium-stock':
                      it.stock_quantity > 5 && it.stock_quantity <= 15,
                    'high-stock': it.stock_quantity > 15,
                  }"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ it.item_name }}</td>
                  <td>{{ it.item_code }}</td>
                  <td>{{ it.brand_name }}</td>
                  <!-- <td>{{ it.barcode }}</td> -->
                  <td>₹{{ it.selling_price }}</td>
                  <td>{{ it.stock_quantity }}</td>
                  <td>
                    <span
                      class="badge"
                      [ngClass]="
                        it.status === 'active' ? 'bg-success' : 'bg-danger'
                      "
                    >
                      {{ it.status }}
                    </span>
                  </td>
                  <td>
                    <div class="d-flex justify-content-start gap-2">
                      <button
                        class="btn btn-sm btn-outline-info me-1"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="View"
                        (click)="openViewModal(it)"
                      >
                        <b><i class="bi bi-eye"></i></b>
                      </button>
                      <button
                        class="btn btn-sm btn-outline-primary me-1"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Edit"
                        (click)="editItem(it)"
                      >
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-outline-danger"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Delete"
                        (click)="deleteItem(it)"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="filteredItems().length === 0">
                  <td colspan="6" class="text-muted">No items found.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <!--View modal-->
    <div
      class="modal fade"
      id="ViewModal"
      tabindex="-1"
      aria-labelledby="ViewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 shadow-sm rounded-3">
          <div class="modal-header bg-success">
            <h5 class="modal-title" id="ViewModalLabel">Item Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body p-3">
            <div class="table-responsive">
              <table
                class="table table-bordered table-hover table-striped align-middle text-start"
              >
                <thead class="table-success">
                  <tr>
                    <th class="light-green">Item Name</th>
                    <th class="light-green">Item Code</th>
                    <th class="light-green">Brand Name</th>
                    <!-- <th class="light-green">BarCode</th> -->
                    <th class="light-green">Purchase Price</th>
                    <th class="light-green">Selling Price</th>
                    <th class="light-green">Tax</th>
                    <th class="light-green">Qunatity</th>
                    <th class="light-green">Description</th>
                    <th class="light-green">Discount</th>
                    <th class="light-green">Stock Alert</th>
                    <th class="light-green">Image</th>
                    <th class="light-green">Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="selectedItems">
                  <tr>
                    <td>{{ selectedItems.item_name }}</td>
                    <td>{{ selectedItems.item_code }}</td>
                    <td>{{ selectedItems.brand_name }}</td>
                    <!-- <td>{{ selectedItems.barcode }}</td> -->
                    <td>{{ selectedItems.purchase_price }}</td>
                    <td>{{ selectedItems.selling_price }}</td>
                    <td>{{ selectedItems.tax_rate }}</td>
                    <td>{{ selectedItems.stock_quantity }}</td>
                    <td>{{ selectedItems.description }}</td>
                    <td>{{ selectedItems.discount }}</td>
                    <td>{{ selectedItems.min_stock_alert }}</td>
                    <td class="text-center image-cell">
                      <img
                        [src]="selectedItems.imageUrl"
                        alt="Item Image"
                        class="img-thumbnail item-preview"
                        (click)="openImageModal(selectedItems.imageUrl)"
                      />
                    </td>
                    <td>
                      <span
                        class="badge"
                        [ngClass]="{
                          'bg-success':
                            selectedItems?.status?.toLowerCase() === 'active',
                          'bg-warning':
                            selectedItems?.status?.toLowerCase() === 'pending',
                          'bg-danger':
                            selectedItems?.status?.toLowerCase() === 'inactive',
                        }"
                      >
                        {{ selectedItems?.status | titlecase }}
                      </span>
                    </td>
                  </tr>    
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer py-2">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit Modal-->

    <div
      class="modal fade"
      id="editItemModal"
      tabindex="-1"
      aria-labelledby="editItemModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog width modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4">
          <div class="modal-header bg-success text-white">
            <h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form [formGroup]="editForm" enctype="multipart/form-data">
              <div class="row g-2">
                <div class="col-md-4">
                  <label class="form-label">Categories</label>
                  <select class="form-select" formControlName="category_id">
                    <option value="">Select Categories</option>
                    <option *ngFor="let cat of categories" [value]="cat._id">
                      {{ cat.categories_name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Sub-Categories</label>
                  <select class="form-select" formControlName="sub_category_id">
                    <option value="">Select Sub categories</option>
                    <option
                      *ngFor="let subcat of subCategories"
                      [value]="subcat._id"
                    >
                      {{ subcat.sub_category_name }}
                    </option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Brand Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="brand_name"
                    placeholder="Enter Brand Name"
                  />
                  <small *ngIf="isInvalid('brand_name')" class="text-danger">
                    Brand Name is required
                  </small>
                </div>
                <!-- <div class="col-md-4">
                  <label class="form-label fw-semibold">Barcode</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="barcode"
                    placeholder="Enter BarCode"
                  />
                  <small *ngIf="isInvalid('barcode')" class="text-danger">
                    BarCode is required
                  </small>
                </div> -->

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Item Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="item_name"
                    placeholder="Enter item name"
                  />
                  <small *ngIf="isInvalid('item_name')" class="text-danger">
                    Item Name is required and must be at least 3 letters
                  </small>
                </div>

                <!-- <div class="col-md-4">
                  <label class="form-label fw-semibold">Item Code</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="item_code"
                    placeholder="Enter item code"
                  />
                  <small *ngIf="isInvalid('item_code')" class="text-danger">
                    Item code is required and must be at least 3 letters
                  </small>
                </div> -->

                <div class="col-md-4">
                  <label class="form-label">Units</label>
                  <select class="form-select" formControlName="unit_id">
                    <option value="">Select Users</option>
                    <option *ngFor="let unit of units" [value]="unit._id">
                      {{ unit.units_name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="form-label fw-semibold">Image</label>

                  <div class="input-group">
                    <label class="input-group-text choose-btn text-dark">
                      Choose File
                      <input
                        type="file"
                        class="d-none"
                        (change)="onCustomFileSelect($event, 'image')"
                      />
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [value]="selectedImage || 'No file chosen'"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Price</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="selling_price"
                    placeholder="Enter selling price"
                  />
                  <small *ngIf="isInvalid('selling_price')" class="text-danger">
                    Selling price is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Purchase price</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="purchase_price"
                    placeholder="Purchase price"
                  />
                  <small
                    *ngIf="isInvalid('purchase_price')"
                    class="text-danger"
                  >
                    Purchase price is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Tax</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="tax_rate"
                    placeholder="Tax rate"
                  />
                  <small *ngIf="isInvalid('tax_rate')" class="text-danger">
                    Tax rate is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Stock</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="stock_quantity"
                    placeholder="No.of Quantitys"
                  />
                  <small
                    *ngIf="isInvalid('stock_quantity')"
                    class="text-danger"
                  >
                    Stock is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    placeholder="Enter description"
                  />
                  <small *ngIf="isInvalid('description')" class="text-danger">
                    Description is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Discount</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="discount"
                    placeholder="Enter discount"
                  />
                  <small *ngIf="isInvalid('discount')" class="text-danger">
                    Discount is required
                  </small>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Status</label>
                  <select class="form-select" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="pending">Pending</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="form-label fw-semibold">Stock Alert</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="min_stock_alert"
                    placeholder="Enter alert stock"
                  />
                  <small
                    *ngIf="isInvalid('min_stock_alert')"
                    class="text-danger"
                  >
                    Alert stock is required
                  </small>
                </div>

                <!-- <div class="col-md-4">
              <label class="form-label">Users</label>
              <select class="form-select" formControlName="user_id">
                <option value="">Select Users</option>
                <option *ngFor="let user of users" [value]="user._id">
                  {{ user.user_name }}
                </option>
              </select>
            </div> -->
              </div>

              <div class="text-center mt-4">
                <button
                  type="button"
                  class="btn btn-success w-50 p-2"
                  (click)="updateItems()"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Update"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
