  <div class="position-fixed top-1 end-0 p-1" style="z-index: 1080">
    <div
      *ngIf="toastMessage"
      class="toast align-items-center text-light border-0 fade show shadow-lg"
      [ngClass]="{
        'bg-success': toastType === 'success',
        'bg-danger': toastType === 'error',
        'bg-warning text-dark': toastType === 'warning'
      }"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body fw-semibold">
          {{ toastMessage }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="toastMessage = null"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
<div class="container">
  <h4 class="text-center text-success mb-3">Business Profile</h4>
  <div class="card shadow-sm border-1 p-4">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <img
          [src]="getImageUrl(BusinessData?.logo_image || previewUrl)"
          alt="Profile Image"
          class="img-fluid shadow-sm"
          width="150"
          height="0"
        />

        <h5 class="mt-3 fw-semibold">
          {{
            BusinessprofileForm.get("business_name")?.value || "Business Name"
          }}
        </h5>

        <button
          class="btn btn-sm btn-success mt-2"
          data-bs-toggle="modal"
          data-bs-target="#editProfileModal"
          (click)="profileedit()"
        >
          <i class="bi bi-pencil"></i> Edit Profile
        </button>
      </div>

      <div class="col-md-8 profile-scroll-wrapper">
        <form [formGroup]="BusinessprofileForm">
          <div class="row">
            <div class="col-md-6 border-end">
              <h6 class="fw-bold text-success mb-3">Profile Information</h6>

              <div class="mb-3">
                <label class="form-label fw-semibold">Business Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="business_name"
                  readonly
                />
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Owner Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="owner_name"
                  readonly
                />
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Email</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  readonly
                />
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone_number"
                  readonly
                />
              </div>
            </div>

            <div class="col-md-6 ps-md-4">
              <h6 class="fw-bold text-success mb-3">Business Details</h6>

              <div class="mb-3">
                <label class="form-label fw-semibold">Business Type</label>
                <select class="form-select" formControlName="bt_id">
                  <option value="">Select Business Type</option>
                  <option *ngFor="let type of businessTypes" [value]="type._id">
                    {{ type.business_type }}
                  </option>
                </select>
                <div
                  *ngIf="
                    BusinessprofileForm.controls['bt_id']?.touched &&
                    BusinessprofileForm.controls['bt_id']?.invalid
                  "
                >
                  <small
                    *ngIf="BusinessprofileForm.controls['bt_id']?.errors?.['required']"
                    class="text-danger"
                  >
                    Business Type is required</small
                  >
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold"
                  >Registration Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="registration_number"
                  readonly
                />
              </div>

              <div class="mb-3">
                <label class="form-label fw-semibold">GST Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="gst_number"
                  readonly
                />
              </div>

              <!-- <div class="mb-3">
                <label class="form-label fw-semibold">Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  readonly
                />
              </div> -->
            </div>
          </div>

          <h6 class="fw-bold text-success mt-4">Address Details</h6>
          <div class="row" formGroupName="address">
            <div class="col-md-6 mb-3" *ngFor="let field of addressFields">
              <label class="form-label fw-semibold">{{ field.label }}</label>
              <input
                type="text"
                class="form-control"
                [formControlName]="field.name"
                readonly
              />
            </div>
          </div>

          <h6 class="fw-bold text-success mb-3 mt-4">Documents</h6>
          <div class="row g-3">
            <!-- PAN PDF -->
            <div class="col-md-6">
              <label class="form-label fw-semibold">PAN</label>
              <div class="input-group">
                <label class="input-group-text choose-btn text-dark">
                  Choose File
                  <input
                    type="file"
                    class="d-none"
                    (change)="onPanSelected($event)"
                    accept=".pdf"
                    readonly
                  />
                </label>
                <input
                  type="text"
                  class="form-control"
                  [value]="selectedBusiness?.pan_pdf || 'No file chosen'"
                  readonly
                />
              </div>
            </div>

            <!-- Aadhar PDF -->
            <div class="col-md-6">
              <label class="form-label fw-semibold">Aadhar</label>
              <div class="input-group">
                <label class="input-group-text choose-btn text-dark">
                  Choose File
                  <input
                    type="file"
                    class="d-none"
                    (change)="onAadharSelected($event)"
                    accept=".pdf"
                    readonly
                  />
                </label>
                <input
                  type="text"
                  class="form-control"
                  [value]="selectedBusiness?.aadhar_pdf || 'No file chosen'"
                  readonly
                />
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label fw-semibold">Certificate</label>
              <div class="input-group">
                <label class="input-group-text choose-btn text-dark">
                  Choose File
                  <input
                    type="file"
                    class="d-none"
                    (change)="onCertificateSelected($event)"
                    accept=".pdf"
                    readonly
                  />
                </label>
                <input
                  type="text"
                  class="form-control"
                  [value]="
                    selectedBusiness?.certificate_pdf || 'No file chosen'
                  "
                  readonly
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="editProfileModal"
    tabindex="-1"
    aria-labelledby="editProfileModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content shadow-lg ">
        <div class="modal-header bg-suctext-success text-dark">
          <h5 class="modal-title" id="editProfileModalLabel">
            Edit Business Profile
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <form
            [formGroup]="BusinessprofileForm"
            (ngSubmit)="updateadminprofile()"
            enctype="multipart/form-data"
          >
            <div
              class="col-md-5 text-center d-flex flex-column align-items-center justify-content-center"
            >
              <label for="fileInput" style="cursor: pointer">
                <img
                  [src]="getImageUrl(BusinessData?.logo_image || previewUrl)"
                  alt="Profile Image"
                  class="img-fluid rounded-circle shadow-sm"
                  width="150"
                  height="150"
                />
              </label>
              <input
                type="file"
                id="fileInput"
                class="d-none"
                (change)="onImageSelected($event)"
                accept="image/*"
              />
              <small class="text-muted">Click image to change</small>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">Business Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="business_name"
                    (keypress)="allowOnlyLettersAndSingleSpace($event)"
                      (input)="removeExtraSpaces()"
                  />
                  
                </div>

                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">Owner Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="owner_name"
                    (keypress)="allowOnlyLettersAndSingleSpace($event)"
                      (input)="removeExtraSpaces()"
                  />
                </div>

                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    (keypress)="blockSpace($event)"
                  />
                </div>
                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">Business Type</label>
                  <select class="form-select" formControlName="bt_id">
                    <option value="">Select Business Type</option>
                    <option
                      *ngFor="let type of businessTypes"
                      [value]="type._id"
                    >
                      {{ type.business_type }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      BusinessprofileForm.controls['bt_id']?.touched &&
                      BusinessprofileForm.controls['bt_id']?.invalid
                    "
                  >
                    <small
                      *ngIf="BusinessprofileForm.controls['bt_id']?.errors?.['required']"
                      class="text-danger"
                    >
                      Business Type is required</small
                    >
                  </div>
                </div>

                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="phone_number"
                    (keydown)="onlyDigits($event, 10)"
                  />
                  
                </div>

                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold"
                    >Registration Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="registration_number"
                  />
                </div>

                <div class="col-md-4 mb-2">
                  <label class="form-label fw-semibold">GST Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="gst_number"
                  />
                </div>
              </div>
              <h6 class="fw-bold text-dark mt-4">Address</h6>
              <div formGroupName="address" class="row">
                <div class="col-md-4 mb-2" *ngFor="let field of addressFields">
                  <label class="form-label">{{ field.label }}</label>

                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="field.name"
                    (keypress)="handleAddressKeyPress($event, field.name)"
                  />
                </div>
              </div>

              <div class="md-6 mb-3">
                <h6 class="fw-bold text-dark mt-4">Documents</h6>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="form-label fw-semibold">PAN</label>
                    <div class="input-group">
                      <label class="input-group-text choose-btn text-dark">
                        Choose File
                        <input
                          type="file"
                          class="d-none"
                          (change)="onCustomFileSelect($event, 'pan_pdf')"
                        />
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="selectedBusiness?.pan_pdf || 'No file chosen'"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label fw-semibold">Aadhar</label>
                    <div class="input-group">
                      <label class="input-group-text choose-btn text-dark">
                        Choose File
                        <input
                          type="file"
                          class="d-none"
                          (change)="onCustomFileSelect($event, 'aadhar_pdf')"
                        />
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="
                          selectedBusiness?.aadhar_pdf || 'No file chosen'
                        "
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label fw-semibold">Certificate</label>

                    <div class="input-group">
                      <label class="input-group-text choose-btn text-dark">
                        Choose File
                        <input
                          type="file"
                          class="d-none"
                          (change)="
                            onCustomFileSelect($event, 'certificate_pdf')
                          "
                        />
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="
                          selectedBusiness?.certificate_pdf || 'No file chosen'
                        "
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-success">
                Update Profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>

