

<div class="dashboard">
  <h2 class="title mb-4 p-3 text-center">List of Admins</h2>

  <div class="row">
    <table class="table table-bordered text-center">
      <thead class="table-success">
        <tr>
          <th>Sl.no</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Business ID</th>
          <th>Status</th>
          
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of admins; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ a.full_name }}</td>
          <td>{{ a.email }}</td>
          <td>{{ a.phone_number }}</td>
          <td>
            <div *ngIf="a.address">
              {{ a.address.house_No }}, {{ a.address.town_Name }}<br />
              {{ a.address.mandal_Name }}, {{ a.address.district_Name }}<br />
              {{ a.address.state }} - {{ a.address.pincode }}
            </div>
          </td>
          <td>{{ a.business_id }}</td>
          <td>{{ a.status }}</td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

