 <div class="dashboard">
        <h2 class="title mb-4 p-3 text-center ">list of Roles</h2>
       

<div class="row">
      <table class="table table-bordered ">
            <thead class="table-success text-center">
                <tr>
                <th>Sl.no</th>
                <th>Role Name</th>
                 <th>Role Number </th>
                 <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of Roles;  let i=index">
                    <td>{{i+1}}</td>
                    <td>{{r.role_name}}</td>
                    <td>{{r.role_number}}</td>
                    <td>{{r.status}}</td>
                </tr>
            </tbody>
                   