<div class="container-fluid">
  <div class="card shadow-sm p-3 mb-4 border-0 small-card">
    <h5 class="text-success fw-bold mb-3">
      <i class="bi bi-building me-2"></i>
      {{ selectedBusiness ? "Update Business" : "Add Business" }}
    </h5>

    <form
      [formGroup]="addBusinessForm"
      (ngSubmit)="saveBusiness()"
      enctype="multipart/form-data"
    >
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label fw-semibold">Business Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="business_name"
            placeholder="Enter business name"
          />
          <small *ngIf="isInvalid('business_name')" class="text-danger">
            Business Name is required and must be at least 3 letters
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">Owner Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="owner_name"
            placeholder="Enter owner name"
          />
          <small *ngIf="isInvalid('owner_name')" class="text-danger">
            Owner Name is required and must be at least 3 letters
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter email"
          />
          <small *ngIf="isInvalid('email')" class="text-danger">
            Enter a valid email
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">Phone Number</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone_number"
            placeholder="Enter phone number"
          />
          <small *ngIf="isInvalid('phone_number')" class="text-danger">
            Phone number is required
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">Business Type</label>
          <select class="form-select" formControlName="bt_id">
            <option value="">Select Business Type</option>
            <option *ngFor="let type of businessTypes" [value]="type._id">
              {{ type.business_type }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">Registration Number</label>
          <input
            type="text"
            class="form-control"
            formControlName="registration_number"
            placeholder="Enter registration number"
          />
          <small *ngIf="isInvalid('registration_number')" class="text-danger">
            Registration Number is required
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold">GST Number</label>
          <input
            type="text"
            class="form-control"
            formControlName="gst_number"
            placeholder="Enter GST number"
          />
          <small *ngIf="isInvalid('gst_number')" class="text-danger">
            GST Number is required
          </small>
        </div>

        <div class="col-md-4">
          <label class="form-label fw-semibold"
            >Password<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="password"
            placeholder="Enter password"
          />
          <small *ngIf="isInvalid('password')" class="text-danger">
            Password is required
          </small>
        </div>

        <div class="col-12 mt-3">
          <h6 class="text-primary fw-semibold border-bottom pb-2">Address</h6>
        </div>

        <div formGroupName="address" class="row">
          <div class="col-md-4 mb-3" *ngFor="let field of addressFields">
            <label class="form-label"
              >{{ field.label }}<span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              [formControlName]="field.name"
              placeholder="Enter {{ field.label }}"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="
                addBusinessForm.get('address.' + field.name)?.invalid &&
                addBusinessForm.get('address.' + field.name)?.touched
              "
            >
              {{ field.label }} is required.
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <h6 class="text-primary fw-semibold border-bottom pb-2">
            <i class="bi bi-upload me-2"></i> Upload Documents
          </h6>
        </div>

        <div class="col-md-6">
          <label class="form-label fw-semibold"
            >Logo<span class="text-danger">*</span></label
          >
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event, 'logo_image')"
            accept="image/*"
          />
          <div
            *ngIf="
              addBusinessForm.get('logo_image')?.touched &&
              addBusinessForm.get('logo_image')?.invalid
            "
            style="color: red"
          >
            <small
              *ngIf="addBusinessForm.get('logo_image')?.errors?.['required']"
              >Name is required</small
            >
            <small
              *ngIf="addBusinessForm.get('logo_image')?.errors?.['minlength']"
              >Name Atleast 3 letters
            </small>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label fw-semibold"
            >PAN<span class="text-danger">*</span></label
          >
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event, 'pan_pdf')"
            accept="application/pdf"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label fw-semibold"
            >Aadhar<span class="text-danger">*</span></label
          >
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event, 'aadhar_pdf')"
            accept="application/pdf"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label fw-semibold"
            >Incorporation Certificate<span class="text-danger">*</span></label
          >
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event, 'certificate_pdf')"
            accept="application/pdf"
          />
        </div>
      </div>

      <div class="text-end mt-4">
        <button
          type="button"
          class="btn btn-secondary me-2 px-4"
          (click)="cancelAdd()"
        >
          <i class="bi bi-x-circle me-1"></i> Cancel
        </button>

        <button type="submit" class="btn btn-success px-4">
          <i class="bi bi-save me-1"></i>
          {{ selectedBusiness ? "Update" : "Save" }}
        </button>
      </div>
    </form>
  </div>
</div>
