<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success px-3">
  <nav class="navbar-brand" style="cursor: pointer" routerLink="/home">
    InnoVITA Bill
  </nav>
</nav>

<div class="container-fluid login-container">
  <div class="row w-100">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card login-card p-4 border-0" style="width: 345px">
       
        <h2 class="text-center fw-bold text-success mb-4">User Login</h2>

        <form [formGroup]="userForm">
          <div class="mb-1">
            <label class="text-dark fw-bold">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="user_email"
            />
            <div
              *ngIf="
                userForm.controls['user_email']?.touched &&
                userForm.controls['user_email']?.invalid
              "
            >
              <small
                *ngIf="userForm.controls['user_email']?.errors?.['required']"
                class="text-danger"
                >Email is required</small
              >
              <small
                *ngIf="userForm.controls['user_email']?.errors?.['email']"
                class="text-danger"
                >Invalid email format</small
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="text-dark fw-bold">Password</label>
            <div class="input-group mb-3">
              <input
                [type]="showPassword ? 'text' : 'password'"
                type="password"
                class="form-control"
                formControlName="password"
              />
              <button
                class="btn btn-secondary"
                type="button"
                data-toggle="tooltip" data-placement="top" title="View"
                (click)="togglePassword()"
              >
                <i
                  class="bi"
                  [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                ></i>
              </button>
            </div>
            <div
              *ngIf="
                userForm.controls['password']?.touched &&
                userForm.controls['password']?.invalid
              "
            >
              <small
                *ngIf="userForm.controls['password']?.errors?.['required']"
                class="text-danger"
                >Password is required</small
              >
              <small
                *ngIf="userForm.controls['password']?.errors?.['minlength']"
                class="text-danger"
                >Minimum 6 characters</small
              >
            </div>
          </div>

          <div
            class="d-flex justify-content-between align-items-center mt-2 mb-3"
          >
           
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="rememberMe"
                formControlName="rememberMe"
              />
              <label class="form-check-label fw-bold" for="rememberMe">
                Remember me
              </label>
            </div>

            
            <a
              routerLink="/userforgotpassword"
              class="fw-bold text-primary text-decoration-none"
              data-toggle="tooltip" data-placement="top" title="Forgot password"
            >
              Forgot password?
            </a>
          </div>

          <div class="text-center mt-4 d-flex gap-3">
            <button
              type="button"
              class="btn btn-success w-75 g-2"
              data-toggle="tooltip" data-placement="top" title="Login"
              (click)="UserLogin()"
            >
              Login
            </button>

            <button type="button" class="btn btn-success w-25" routerLink="/" data-toggle="tooltip" data-placement="top" title="Go Back">
              <i class="bi bi-box-arrow-in-left"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
  <nav class="navbar-brand" style="cursor: pointer" routerLink="/home">
    InnoVITA Bill
  </nav>
</nav>

<div class="container mt-5 pt-4 d-flex justify-content-center">

  <div class="card shadow-lg" style="max-width:900px; width:100%; border-radius:15px;">


    <div class="row g-0">

      <!-- LEFT IMAGE -->
         <div class="col-md-7">
        <img
          src="/assets/business_images/login3_img.png"
          class="img-fluid h-100 w-100"
          style="object-fit:cover;border-top-left-radius:15px;border-bottom-left-radius:15px;"
        />
      </div>

      <!-- RIGHT USER LOGIN FORM -->
      <div class="col-md-5 bg-white p-5 d-flex flex-column justify-content-center">

        <h2 class="text-center fw-bold text-success mb-4">
          User Login
        </h2>

        <form [formGroup]="userForm">

          <!-- EMAIL -->
          <div class="mb-2">
            <label class="text-dark fw-bold">Email</label>

            <input
              type="email"
              class="form-control"
              formControlName="user_email"
            />

            <div
              *ngIf="
                userForm.controls['user_email']?.touched &&
                userForm.controls['user_email']?.invalid
              "
            >
              <small
                *ngIf="userForm.controls['user_email']?.errors?.['required']"
                class="text-danger"
              >
                Email is required
              </small>

              <small
                *ngIf="userForm.controls['user_email']?.errors?.['email']"
                class="text-danger"
              >
                Invalid email format
              </small>
            </div>

          </div>

          <!-- PASSWORD -->
          <div class="mb-3">
            <label class="text-dark fw-bold">Password</label>

            <div class="input-group">

              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                formControlName="password"
              />

              <button
                class="btn btn-secondary"
                type="button"
                (click)="togglePassword()"
              >
                <i
                  class="bi"
                  [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                ></i>
              </button>

            </div>

            <div
              *ngIf="
                userForm.controls['password']?.touched &&
                userForm.controls['password']?.invalid
              "
            >
              <small
                *ngIf="userForm.controls['password']?.errors?.['required']"
                class="text-danger"
              >
                Password is required
              </small>

              <small
                *ngIf="userForm.controls['password']?.errors?.['minlength']"
                class="text-danger"
              >
                Minimum 6 characters
              </small>
            </div>

          </div>

          <!-- REMEMBER + FORGOT -->
          <div class="d-flex justify-content-between align-items-center mb-3">

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="rememberMe"
                formControlName="rememberMe"
              />
              <label class="form-check-label fw-bold" for="rememberMe">
                Remember me
              </label>
            </div>

            <a
              routerLink="/userforgotpassword"
              class="fw-bold text-primary text-decoration-none"
            >
              Forgot password?
            </a>

          </div>

          <!-- BUTTONS -->
          <div class="d-flex gap-3 mt-3">

            <button
              type="button"
              class="btn btn-success w-75"
              (click)="UserLogin()"
            >
              Login
            </button>

            <button
              type="button"
              class="btn btn-success w-25"
              routerLink="/"
            >
              <i class="bi bi-box-arrow-in-left"></i>
            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>

<router-outlet></router-outlet>