.table-wrapper {
  max-height: 500px;       
  overflow-y: auto;
  width: 1250px;
}


.table-wrapper {
  scrollbar-width: thin;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  
}

.table-responsive {
  overflow-x: auto;
}
.light-green {
  color: #0a5c0a;
}