<nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
  <span class="navbar-brand fw-bold" style="cursor: pointer" routerLink="/home"
    >InnoVita Bill
  </span>
</nav>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div
    class="card p-8"
    style="
      width: 30rem;

      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    "
  >
    <div class="container p-3">
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 1080">
        <div
          *ngIf="toastMessage"
          class="toast align-items-center text-white show"
          [ngClass]="{
            'bg-success': toastType === 'success',
            'bg-warning': toastType === 'warning',
            'bg-danger': toastType === 'error'
          }"
          role="alert"
        >
          <div class="d-flex">
            <div class="toast-body">
              {{ toastMessage }}
            </div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              (click)="toastMessage = null"
            ></button>
          </div>
        </div>
      </div>

      <h2 class="title mb-3 p-2 text-center fw-bold text-success">
        Super Admin Login
      </h2>

      <form [formGroup]="superAdminForm" class="mb-3">
        <div class="row mb-3 align-items-center">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-11">
            <input
              type="email"
              id="email"
              formControlName="superadmin_mail"
              class="form-control"
            />
            <div
              *ngIf="
                superAdminForm.controls['superadmin_mail']?.touched &&
                superAdminForm.controls['superadmin_mail']?.invalid
              "
            >
              <small
                *ngIf="superAdminForm.controls['superadmin_mail']?.errors?.['required']"
                class="text-danger"
                >Email is required</small
              >
              <small
                *ngIf="superAdminForm.controls['superadmin_mail']?.errors?.['email']"
                class="text-danger"
                >Invalid email format</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-3 align-items-center">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-11">
            <input
              type="password"
              id="password"
              formControlName="superadmin_password"
              class="form-control"
            />
            <div
              *ngIf="
                superAdminForm.controls['superadmin_password']?.touched &&
                superAdminForm.controls['superadmin_password']?.invalid
              "
            >
              <small
                *ngIf="superAdminForm.controls['superadmin_password']?.errors?.['required']"
                class="text-danger"
                >Password is required</small
              >
              <small
                *ngIf="superAdminForm.controls['superadmin_password']?.errors?.['minLength']"
                class="text-danger"
                >Minimum 6 characters</small
              >
            </div>
          </div>
        </div>
        <a routerLink="/forgot-password">forgot password?</a>

        <!-- <div class="text-center mt-4 d-flex gap-3">
          <button
            type="button"
            class="btn btn-success mt-5 w-75 g-2"
            (click)="SuperAdminLogin()"
          >
            Login
          </button>
        <button type="button" class="btn btn-success " routerLink="/">
              <i class="bi bi-box-arrow-in-left"></i>
            </button>
        </div> -->
        <div class="text-center mt-4 d-flex gap-3">
          <button
            type="button"
            class="btn btn-success w-75 g-2"
            (click)="SuperAdminLogin()"
          >
            Login
          </button>

          <button
            type="button"
            class="btn btn-success"
            style="width: 60px"
            routerLink="/"
          >
            <i class="bi bi-box-arrow-in-left"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
