<div class="container-fluid">
  <div class="row">
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top bg-success px-3 w-100"
    >
      <a
        class="navbar-brand text-white fw-bold"
        style="cursor: pointer"
        routerLink="/home"
      >
        Billing Software
      </a>

      <div class="ms-auto d-flex align-items-center">
        <div class="me-3 text-white text-end">
          <div class="fw-bold">{{ loggedInUser?.name }}</div>
          <small>{{ loggedInUser?.loginTime }}</small>
        </div>

        <div class="dropdown">
          <a
            class="nav-link text-white d-flex align-items-center"
            id="profileDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="cursor: pointer"
          >
            <i class="bi bi-person-circle" style="font-size: 28px"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="userprofile">
                <i class="bi bi-person me-2"></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="logout()"
              >
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row mt-5 pt-4">
    <div class="col-md-2 p-4 bg-light">
      <div class="d-flex flex-column gap-3">
        <button
          class="btn side-btn text-dark"
          routerLink="/userview/itemlist"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b><i class="bi bi-list-check me-2"></i></b> Items
        </button>
        <button
          class="btn side-btn text-dark"
          routerLink="/userview/items"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-plus-circle me-1"></i></b> Create Item
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/userview/saleslist"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b><i class="bi bi-file-earmark-bar-graph me-2"></i></b> Sales
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/userview/sale"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-plus-circle me-1"></i></b> Create Sale
        </button>

        <button
          class="btn side-btn text-dark"
          routerLink="/userview/salereports"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-bar-chart me-1"></i></b>Sale Reports
        </button>
        <button
          class="btn side-btn text-dark"
          routerLink="/userview/quotation"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <b> <i class="bi bi-file-earmark-text-fill"></i></b> Quotation
        </button>
      </div>
    </div>

    <div class="col-md-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
